button-back {
   display: block;

   .button-inner {
      text-transform: none;
   }

   ion-icon {
      font-size: 30px;
   }

   ion-content[padding] & {
      margin-top: -10px;
      margin-bottom: 10px;

      button {
         padding-left: 0;
      }
   }
}

ion-icon.ios.hydrated {
   padding-right: 4px;
}