<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="ion-arrow-down-b positive"
    pullingText="{{ 'common.pull-to-refresh' | translate }}" refreshingSpinner="crescent"
    refreshingText="{{ 'common.refreshing' | translate }}"></ion-refresher-content>
</ion-refresher>

<ion-list lines="none" *ngIf="items && items.length">
  <app-tender-item *ngFor="let assignment of items" [tender]="assignment" tappable (click)="showDetails(assignment)"
    (changed)="onChange($event)"></app-tender-item>
  <ion-infinite-scroll (ionInfinite)="loadData($event, items, 10)" [disabled]="!moreItems">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{ 'common.fetching-data' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-list>

<app-nothing-found *ngIf="items && !items.length" context="bills.preparation.nothing-found" redirect="assignments">
</app-nothing-found>