::ng-deep .searchbar-input-container.sc-ion-searchbar-md {
   border: 1px solid #cecbcb !important;
   border-radius: 3px;
}

::ng-deep .sc-ion-searchbar-md-h {
   --box-shadow: none;
}

::ng-deep .searchbar-input.sc-ion-searchbar-md {
   padding-inline-start: 42px;
   padding-top: 8px;
}