@import "src/theme/variables.scss";

ion-tab-bar {
   ion-tab-button {
      --padding-start: 0;
      --padding-end: 0;
      background: #bcede8;
      color: var(--text-color);
      font-size: 9px;
   }

   .tab-selected {
      color: var(--ion-color-primary);
   }
}