<ion-tabs id="tabs" #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let item of tabItem" [tab]="item.name" [disabled]="item.disabled">
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-label>{{ item.title | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>