<ion-item>
  <div>
    <ion-thumbnail class="cal-date">
      <h2>{{ invoice.issued_at | date : 'dd' }}</h2>
      <p>{{ invoice.issued_at | date : 'MMMM' }}</p>
      <p>{{ invoice.issued_at | date : 'YYYY' }}</p>
    </ion-thumbnail>
  </div>
  <div class="right-block">
    <ion-row class="head">
      <h5 color="light">{{ 'bills.invoice.number' | translate }}</h5>
      <h3 *ngIf="invoice.number" class="ion-text-nowrap">{{ invoice.number }}</h3>
      <p *ngIf="invoice.comment" class="ion-text-wrap" color="light">{{ invoice.comment }}</p>
    </ion-row>
    <ion-row color="light" class="schedule">
      <ion-col size="12">
        <ion-icon name="calendar" size="medium"></ion-icon>
        <p [innerHTML]="'bills.invoices.assignments' | translate : invoice.summary"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        {{ invoice.total | currency }}
        <span class="total_sconto_hint" *ngIf="invoice.with_discount === 'true'">{{
          'bills.invoice.total-sconto-hint' |
          translate }}</span>
      </ion-col>
      <ion-col size="7" [ngClass]="invoice.state">
        {{ 'bills.invoice.status.' + invoice.state | translate }}
      </ion-col>
    </ion-row>
  </div>
</ion-item>