@import "../../../theme/mixins.scss";

ion-item {
   // display: block;
   border: 1px solid #ccc !important;
   padding-left: 0;
   margin: 16px;
   --inner-padding-end: 0 !important;
   padding-inline-start: 0 !important;
   --padding-start: 0 !important;

   [slot="end"] {
      margin-left: 5px;
   }

   [slot="start"] {
      margin-right: 5px;
   }

   .right-block {
      border-left: 1px solid #ccc !important;
      padding-left: 10px;
   }

   h3,
   h2,
   h5,
   p {
      width: 100%;
      display: block;
      margin: 2px 0;
      font-weight: normal;
   }

   ion-row {
      font-size: 13px;
      margin-top: 10px;

      p {
         min-height: 15px;
      }

      ion-col {
         padding-left: 0;
      }

      // &.head {
      //     p {
      //         min-height: 15px;
      //         // @include line-ellipsis(1);
      //     }
      // }
      // &.schedule {
      //     font-size: 13px;
      //     margin-top: 10px;
      //     .col {
      //         padding-left: 0;
      //     }
      // }
   }

   .label-md {
      margin: 5px 8px 5px 0;
   }

   ion-thumbnail {
      min-width: 80px;
      min-height: 80px;
      position: relative;
      height: 100px;

      &.cal-date {
         position: relative;
         height: 100px;

         &[item-start] {
            margin-top: 25px;
         }

         h2 {
            font-size: 50px;
            text-align: center;
         }

         p {
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
            color: var(--text-color);
         }
      }
   }

   ion-icon[name="calendar"] {
      float: left;
      margin-right: 5px;
   }
}

.rejected {
   color: var(--ion-color-danger);
}

.issued {
   color: var(--ion-color-warning);
}

.total_sconto_hint {
   font-size: x-small;
}