<ion-card tappable (click)="showDetails()" [ngClass]="status.class" class="ion-padding">
  <ion-item-sliding #slidingItem>
    <div class="tender-item">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div class="date-set">
              <p class="appoiment_data inner">
                {{ offers?.tender?.data?.snapshots?.date?.appointed_at | date : 'dd' }}
              </p>
              <p class="appoiment_data">
                {{ offers?.tender?.data?.snapshots?.date?.appointed_at | date : 'LLL' }}
              </p>
              <p class="appoiment_data">
                {{ offers?.tender?.data?.snapshots?.date?.appointed_at | date : 'YYYY' }}
              </p>
            </div>
          </ion-col>
          <ion-col size="8">
            <h3 class="main-heading" head-3>{{ offers?.tender?.data?.snapshots?.project?.name }}</h3>
            <h4 class="ion-text-nowrap h4-text">{{ offers?.client?.name }}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="address">
              <i>
                {{offers?.tender?.data?.snapshots?.job?.job_location}}
                {{offers?.assignment?.shift_start_time}} {{offers?.assignment?.shift_end_time}}
              </i>
            </p>
          </ion-col>
          <ion-col size="9">
            <p class="address">
              {{offers?.tender?.data?.snapshots?.job?.start_date}} to
              {{offers?.tender?.data?.snapshots?.job?.finish_date}}
            </p>
          </ion-col>
          <ion-col size="3">
            <p class="address test-progress">
              In Progress
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item-options *ngIf="offers.matching && !offers.offered">
      <ion-button expand="block" (click)="accept($event, slidingItem)" color="success">
        <div>
          <ion-icon name="thumbs-up"></ion-icon>
          {{ 'jobs.buttons.accept' | translate }}
        </div>
      </ion-button>
    </ion-item-options>

    <ion-item-options *ngIf="offers.matching && !offers.offered" [ngClass]="{pending: pending}">
      <ion-button expand="block" (click)="pending && cancel($event, slidingItem) || reject($event)" class="reject">
        <div>
          <ion-icon name="thumbs-down"></ion-icon>
          {{ 'jobs.buttons.reject' | translate }}
        </div>
        <div class="pending">
          <ion-icon name="refresh"></ion-icon>
          {{ 'jobs.buttons.cancel' | translate }}
          <ng-container *ngIf="pending">
          </ng-container>
        </div>
      </ion-button>
    </ion-item-options>
  </ion-item-sliding>
</ion-card>