ion-card {
   border: 1px solid #ccc;
   padding-bottom: 0;
   border-bottom: 3px solid #fbb829;

   .item-inner {
      border-left: none !important;
      padding-left: 5px !important;
   }

   &.mismatched {
      &.mismatched-certificates {
         .tender-item ion-thumbnail.cal-date {
            height: 143px;
         }
      }

      .rates {
         display: none;
      }
   }

   ion-col[normal] {
      color: var(--text-color);
   }
}

ion-thumbnail {
   float: left;
}

ion-item-options {
   ion-icon {
      display: block;
      font-size: 200%;
   }

   .button-inner>div {
      width: 200px;
      display: none;
      color: #fff;

      &:not(.pending) {
         display: block;
      }
   }

   &.pending {
      .button-inner>div {
         display: none;

         &.pending {
            display: block;
         }
      }
   }

   .reject {
      background-color: var(--ion-color-danger);

      &.activated {
         background-color: var(--ion-color-danger);
      }
   }
}

countdown-timer {
   display: block;
   font-size: smaller;
   text-transform: none;
   margin-top: 5px;
}

.mismatching {
   color: var(--ion-color-danger);

   .category {
      color: var(--ion-color-danger);
   }
}

.state {
   text-align: right;

   &.pending {
      color: var(--ion-color-warning);
   }

   &.declined {
      color: var(--ion-color-danger);
   }
}

ion-item[style^="transform"]:not([style^="transform: translate3d(-"]) {
   &~ion-item-options[side="left"] {
      visibility: visible;
   }
}

.category {
   margin-top: 10px;
   color: var(--text-color-light);
}

ion-alert.mismatched-info {
   .alert-message {
      text-align: left;

      div:nth-child(odd) {
         font-weight: bolder;
      }

      div:nth-child(even) {
         margin-bottom: 1rem;
      }
   }
}

h3.main-heading {
   font-size: 16px !important;
   color: rgba(0, 0, 0, .87);
}

p.ion-text-nowrap {
   color: #21b4b0;
   text-transform: uppercase;
   font-size: 13px;
   padding-left: 4px;
   font-weight: 600;
}

.list-card {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

p.code_title {
   border: 1px solid #a99999;
   padding: 3px;
   border-radius: 2px;
   margin-right: 6px;
}

ion-col.ion-text-nowrap.md.hydrated {
   padding-bottom: 0;
}

ion-col.dates-manage.md.hydrated {
   padding-top: 10px;
}

ion-col.ion-text-nowrap.font-set.md.hydrated {
   font-size: 12px;
}

ion-col.ion-text-nowrap.exp-date.md.hydrated {
   margin-top: 10px;
   color: #222;
   font-weight: 600;
   font-size: 12px;
}

ion-col.ion-text-nowrap.test-contract.md.hydrated {
   margin-top: 10px;
   color: #222;
   font-weight: 600;
   font-size: 12px;
}

ion-col.ion-text-nowrap.date-time.md.hydrated {
   font-size: 11px;
}

p.appoiment_data {
   margin: 0;
   text-align: center;
}

.date-set {
   border: 2px solid #d0d0d1;
   padding: 13px 0px;
}

p.appoiment_data.inner {
   color: #222;
   font-size: 20px;
}

h4.ion-text-nowrap.h4-text {
   font-size: 15px;
   color: rgba(0, 0, 0, .87);
}

p.address {
   color: rgba(0, 0, 0, .87);
   font-size: 14px;
   margin-bottom: 0;
}

p.address.test-progress {
   font-size: 13px;
   margin-bottom: 0;
   color: #fbb829;
}