<ion-header class="header">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-segment class="bills-segment" mode="md" (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment">
      <ion-segment-button value="preparation">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>{{ 'bills.preparation.tab-name' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="create_invoice">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>{{ 'bills.invoice.tab-name' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="invoices">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
        <ion-label>{{ 'bills.invoices.tab-name' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectedSegment == 'preparation'">
    <app-preparation></app-preparation>
  </div>
  <div *ngIf="selectedSegment == 'create_invoice'">
    <app-createinvoice></app-createinvoice>
  </div>
  <div *ngIf="selectedSegment == 'invoices'">
    <app-invoices></app-invoices>
  </div>
</ion-content>