.header {

   ion-toolbar,
   .toolbar-container {
      --ion-toolbar-background: #bcede8 !important;
   }

   .bills-segment {
      height: 56px;

      ion-segment-button {
         --color-checked: var(--ion-color-primary) !important;
         --background-checked: unset !important;
         --color: var(--text-color);
         text-transform: capitalize;
         box-shadow: unset !important;
         --box-shadow: unset !important;
         --border-width: 0;
         --indicator-color: transparent !important;
         --indicator-color-checked: transparent !important;

         ion-icon {
            font-size: 20px;
         }

         ion-label {
            font-size: 10px;
         }
      }
   }
}