<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="back-btn">
            <ion-back-button icon="arrow-back-outline" text=" {{'auth.reset.buttons.back' | translate}}">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding reset-password-container">
    <form (submit)="resetPassword()" #local="ngForm">
        <ion-list inset="true">
            <p>{{ 'auth.reset.info' | translate }}</p>

            <ion-item style="padding-bottom: 2rem;">
                <ion-label position="floating">{{ "auth.reset.email-placeholder" | translate }}</ion-label>
                <ion-input type="email" name="mail" [(ngModel)]="email" required="true"></ion-input>
            </ion-item>

            <ion-button (click)="resetPassword()" expand="full" class="btn_login" [disabled]="!local.form.valid">{{"submit" | translate }}</ion-button>
        </ion-list>
    </form>
</ion-content>