ion-buttons.back-btn {
    padding-left: 10px;
    color: #000;
    
    ion-back-button.ios.button {
        --icon-padding-end: 5px;
  
    }
}

.list-ios.list-inset ion-item {
    --border-width: 0 0 2px 0;
    --border-color: #1A908B;
}

.btn_login {
    border-radius: 4px;
    background-color: var(--ion-color-primary);
 }