<ion-header class="main-header">
  <ion-toolbar>
    <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
      <ion-icon name="arrow-back-outline" color="primary" class="min-icon"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="section-first" *ngFor="let role of roles">
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main">
                  <ion-label position="floating">Primary Role</ion-label>
                  <ion-select formControlName="primary_role" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                    <ion-select-option value="d">Dancer</ion-select-option>
                    <ion-select-option value="t">Tester</ion-select-option>
                    <ion-select-option value="f">FE Developer</ion-select-option>
                    <ion-select-option value="b">BE Developer</ion-select-option>
                    <ion-select-option value="e">Event Organiser</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Role Label</ion-label>
                  <ion-input name="role" formControlName="role" type="text" required></ion-input>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Role Description</ion-label>
                  <ion-input name="role_des" formControlName="role_des" type="text" required></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="deleteRole(role)" slot="end">Delete</ion-button>
        </div>
      </div>
    </div>
    <div class="btn-section add-more">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="save()" expand="block">Save </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addRoles()" slot="end">Add More</ion-button>
      </div>
    </div>
  </div>
</ion-content>