<div>
 
  <form #local="ngForm" style="margin-top: 15%;">
    <ion-row class="ion-margin">
      <ion-label class="login_lbl">
        <h1><b>Log in</b></h1>
      </ion-label>
    </ion-row>


    <ion-row class="ion-margin">
      <ion-col>
        <ion-item lines="none">
          <ion-input type="email" name="email" [(ngModel)]="credentials.email"
            placeholder="{{ 'auth.login.email-placeholder' | translate }}" clearOnEdit="false" required="true">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row class="ion-margin">
      <ion-col>
        <ion-item lines="none">
          <ion-input type="password" name="password" [(ngModel)]="credentials.password"
            placeholder="{{ 'auth.login.password-placeholder' | translate }}" clearOnEdit="false" required="true"
            #password>
          </ion-input>
          <ion-icon slot="end" *ngIf="!isShowPassword" (click)="showPassword()" class="show-password"
            name="eye-outline"></ion-icon>
          <ion-icon *ngIf="isShowPassword" slot="end" class="show-password" name="eye" (click)="showPassword()">
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col>
        <ion-button class="btn_login" (click)="login()" expand="full" strong="true" color="button-primary" fill="solid"
          type="submit" [disabled]="!local.form.valid">
          {{ 'auth.login.button' | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="forgotPasswordAction()" fill="clear" expand="full"> {{ 'auth.login.password-forgotten' | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row  class="ion-margin" (click)="gotoRegister()">
      <ion-col>
        <ion-button  class="btn_second_login" expand="full" strong="true" color="button-primary" fill="solid">
          {{ 'auth.register.buttonlink' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</div>