    .col {
       border: 1px solid #cecbcb;
       border-radius: 4px;
       margin-left: 5px;
       margin-top: 5px;
       padding: 2px 3px;
    }

    .button {
       padding-left: 2px;
       text-transform: initial;
    }

    .main-date {
       border: 1px solid #cecbcb;
       padding: 0;
       margin: 2px;
       border-radius: 3px;
    }