<ion-row class="ion-no-padding">
  <ion-col class="main-date">
    <ion-button fill="clear" size="small">
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-datetime [name]="name" ngDefaultControl class="ion-no-padding" displayFormat="DD.MM.YYYY" (ionChange)="set()"
        [(ngModel)]="start" [placeholder]="context + '.filters.' + name + '.start-placeholder' | translate"
        [doneText]="'done' | translate" [cancelText]="'cancel' | translate">
      </ion-datetime>
    </ion-button>
  </ion-col>
  <ion-col class="main-date">
    <ion-button fill="clear" size="small">
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-datetime [name]="name" ngDefaultControl class="ion-no-padding" displayFormat="DD.MM.YYYY" (ionChange)="set()"
        [(ngModel)]="end" [placeholder]="context + '.filters.' + name + '.end-placeholder' | translate"
        [doneText]="'done' | translate" [cancelText]="'cancel' | translate">
      </ion-datetime>
    </ion-button>
  </ion-col>
</ion-row>