.select-label {
   color: #999 !important;
   font-size: 15px !important;
   margin: 0px !important;
}

ion-select.anyitem-select {
   color: #999;
   font-size: 13px;
}

ion-item.select-inner {
   border: 1px solid #cecbcb;
   margin: 0px 6px 0 6px;
   --min-height: 40px;
}