<ion-list class="select-main">
  <ion-item class="select-inner">
    <ion-label class="select-label">Application Status</ion-label>
    <ion-select class="anyitem-select" multiple="true" [(ngModel)]="status" [name]="name" ngDefaultControl
      (ionChange)="set()">
      <ng-container *ngFor="let opt of items">
        <ion-select-option [value]="opt?.value">{{opt?.name}}</ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>
</ion-list>