<ion-item [hidden]="isSubscribed === undefined">
  <ion-label>{{ label | translate }}</ion-label>
  <ion-toggle name="toggle" ngDefaultControl [(ngModel)]="isSubscribed" (ionChange)="handlePush()"></ion-toggle>
</ion-item>