@font-face {
   font-family: "Raleway";
   src: url("./../assets/fonts/Raleway-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-size: 10px;
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   src: url("./../assets/fonts/Raleway-Bold.ttf") format("truetype");
   font-size: 10px;
}

// * {
//     font-family: "Raleway";
// }

h2,
h3,
h4,
h5 {
   font-family: var(--didact-font);
}

p,
div {
   font-family: var(--default-font);
}

h2,
h3,
h4,
h5,
p,
div {
   color: var(--text-color);
}

*[light] {
   color: var(--text-color-light);
}

[head-2] {
   font-size: 28px !important;
}

[head-3] {
   font-size: 25px !important;
}

[head-4] {
   font-size: 25px !important;
   font-variant: all-small-caps;
   color: var(--text-color-light);
}

[head-5] {
   font-size: 18px !important;
}