<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" class="menu-main"></ion-menu-button>
    <ion-title>Assignments</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ion-arrow-down-b positive"
      pullingText="{{ 'common.pull-to-refresh' | translate }}" refreshingSpinner="crescent"
      refreshingText="{{ 'common.refreshing' | translate }}"></ion-refresher-content>
  </ion-refresher>

  <app-message-counter visible="new" update-strategy="{listen: 'event-name'}"></app-message-counter>

  <ion-list lines="none" *ngIf="items && items.length">
    <app-assignment-card *ngFor="let assignment of items; let i = index;" [assignment]="assignment"
      (refresh)="doRefresh()" [attr.expanded]="i === 0">
    </app-assignment-card>
    <ion-infinite-scroll (ionInfinite)="loadData($event, items, 5)" [disabled]="!moreItems">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{ 'common.fetching-data' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
  <app-nothing-found *ngIf="items && !items.length" icon="happy-outline" context="assignments.nothing-found"
    redirect="jobs:matched"></app-nothing-found>
</ion-content>