app-filter-select {
   display: block;
}

ion-select {
   width: 100% !important;
   max-width: 100% !important;
   padding-right: 15px !important;
   border: 1px solid #cecbcb;
   border-radius: 3px;
   text-align: left;
}

ion-select::part(icon) {
   color: var(--ion-color-primary);
   opacity: 1;
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
   --padding-start: 4px;
   padding: 12px;
   padding-bottom: 0;
   font-size: 15px;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
   --padding-top: 5px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}