<ion-row>
  <ion-col size="12">
    <div class="form-group">
      <ion-select [(ngModel)]="id" interface="popover" (ionChange)="set()" [name]="name" ngDefaultControl
        [okText]="'buttons.confirm' | translate" [cancelText]="'buttons.cancel' | translate">
        <ion-select-option *ngIf="none" [value]="0" class="ion-text-wrap">{{ 'common.none' | translate }}
        </ion-select-option>
        <ng-container *ngIf="name === 'certificate'">
          <ion-select-option *ngFor="let opt of items" [value]="opt.id" class="ion-text-wrap">
            {{ opt?.identifier }} {{ opt?.teaser }}
          </ion-select-option>
        </ng-container>
        <ng-container *ngIf="name !== 'certificate'">
          <ion-select-option *ngFor="let opt of items" [value]="opt.id" class="ion-text-wrap">
            {{ opt?.name }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </div>
  </ion-col>
</ion-row>