.login-container {

    .log_img {
        margin: 0px auto;
    }

    .map_img {
        height: auto;
        margin: 0px auto;
    }

    .login_lbl {
        width: 100%;
        text-align: center;
    }

    .input {
        height: 2rem;
        margin: 0rem 1rem;
    }

    .item {
        min-height: 0.5rem;
        max-height: 8rem;
    }

    ion-item.item-interactive.item-input {
        border: 1px solid #ccc !important;
        border-radius: 4px;
     }

    ion-button.btn_login.ion-color {
        border-radius: 4px;
        background-color: var(--ion-color-primary);
    }

    
    ion-button.btn_second_login.ion-color {
        border-radius: 4px;
        background-color: #444;
    }
}

