<ion-content class="login-container ion-padding">
  <ion-row style="margin-bottom: 15%;">
    <ion-col col-12>
      <ion-item lines="none">
        <img src="assets/img/Elevate_Logo-02.png" class="log_img" alt="logo" />
      </ion-item>

    </ion-col>
  </ion-row>

  <form #local="ngForm">
    <ion-row class="ion-margin">
      <ion-label class="login_lbl txt_center">
        <h1><b>Register</b></h1>
      </ion-label>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col>
        <ion-item lines="none">
          <ion-input type="email" name="email" placeholder="{{ 'auth.register.email-placeholder' | translate }}"
            [(ngModel)]="credentials.email" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col>
        <ion-item lines="none">
          <ion-input type="email" name="email_confirmation"
            placeholder="{{ 'auth.register.repeat-email-placeholder' | translate }}"
            [(ngModel)]="credentials.email_confirmation" required="true" #email_confirmation></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col>
        <ion-item lines="none">
          <ion-input type="password" name="password" clearOnEdit="false" [(ngModel)]="credentials.password"
            required="true" placeholder="{{ 'auth.register.password-placeholder' | translate }}" #password></ion-input>
          <ion-icon *ngIf="!isShowPassword" slot="end" class="show-password" name="eye-outline"
            (click)="showPassword()"></ion-icon>
          <ion-icon *ngIf="isShowPassword" slot="end" class="show-password" name="eye" (click)="showPassword()">
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row class="ion-margin">
      <ion-col>
        <ion-item lines="none">
          <ion-input type="password" name="password_confirmation" clearOnEdit="false"
            [(ngModel)]="credentials.password_confirmation" required="true"
            placeholder="{{ 'auth.register.confirm-password-placeholder' | translate }}" #password_confirmation>
          </ion-input>
          <ion-icon *ngIf="!isShowConfirmPassword" slot="end" class="show-password" name="eye-outline"
            (click)="showConfirmPassword()"></ion-icon>
          <ion-icon *ngIf="isShowConfirmPassword" slot="end" class="show-confirm-password" name="eye"
            (click)="showConfirmPassword()">
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col>
        <ion-button (click)="register()" class="btn_login" expand="full" strong="true" color="button-primary"
          fill="solid" type="submit" [disabled]="!local.form.valid">{{ 'auth.register.button' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin" (click)="gotoLogin()">
      <ion-col>
        <ion-button class="btn_second_login" expand="full" strong="true" color="button-primary" fill="solid">
          {{ 'auth.register.alreadyreg' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>