<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="ion-arrow-down-b positive"
    pullingText="{{ 'common.pull-to-refresh' | translate }}" refreshingSpinner="crescent"
    refreshingText="{{ 'common.refreshing' | translate }}"></ion-refresher-content>
</ion-refresher>

<app-filter *ngIf="filters" [filters]="filters" context="bills.invoices" (on-apply)="filter($event)"
  (filter-opened)="onFilterOpened($event)"></app-filter>

<ion-list lines="none">
  <app-invoice-item *ngFor="let entry of items" [invoice]="entry" (click)="showDetails(entry)"></app-invoice-item>
  <ion-infinite-scroll (ionInfinite)="loadData($event, items, 10)" [disabled]="!moreItems">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{ 'common.fetching-data' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-list>

<app-nothing-found *ngIf="items && !items.length" context="bills.invoices.nothing-found" redirect="bills:invoice">
</app-nothing-found>