<ion-header class="main-header">
  <ion-toolbar>
    <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
      <ion-icon name="arrow-back-outline" color="primary" class="min-icon"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="section-first" *ngFor="let employee of employees">
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main title-chk">
                  <ion-label position="floating">Job Title/Designation</ion-label>
                  <ion-input name="job_title" formControlName="job_title"  type="text" required></ion-input>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Company Name</ion-label>
                  <ion-input name="company_name" formControlName="company_name" type="text" required></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <div class="radio-main">
              <h5 class="heding-main">Is this your current company:</h5>
              <ion-radio-group value="true" class="radio-inner" formControlName="is_current_company">
                <div class="radio-section">
                  <div class="radio-btn-size">
                    <ion-radio slot="start" value="true"></ion-radio>
                    <ion-label class="font-size">&nbsp;&nbsp; Yes</ion-label>
                  </div>
                  <div class="radio-btn-size">
                    <ion-radio slot="start" value="false"></ion-radio>
                    <ion-label class="font-size">&nbsp;&nbsp; No</ion-label>
                  </div>
                </div>
              </ion-radio-group>
            </div>
            <div class="radio-main">
              <h6 class="heding-main">Started working from</h6>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">Select Year</ion-label>
                <ion-datetime name="start_from" formControlName="start_from" displayFormat="YYYY" required></ion-datetime>
                <ion-icon class="section-calender" name="calendar" slot="end"></ion-icon>
              </ion-item>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">Select Month</ion-label>
                <ion-datetime name="year" formControlName="year" displayFormat="MMMM" required></ion-datetime>
                <ion-icon class="section-calender" name="calendar" slot="end"></ion-icon>
              </ion-item>
              <h6 class="heding-main">Select Year</h6>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">Worked Till</ion-label>
                <ion-datetime name="till" formControlName="till" displayFormat="YYYY" required></ion-datetime>
                <ion-icon class="section-calender" name="calendar" slot="end"></ion-icon>
              </ion-item>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">Month</ion-label>
                <ion-datetime name="month" formControlName="month" displayFormat="MMMM" required></ion-datetime>
                <ion-icon class="section-calender" name="calendar" slot="end"></ion-icon>
              </ion-item>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">Description</ion-label>
                <ion-input name="description" formControlName="description" type="text" required></ion-input>
              </ion-item>
            </div>
          </ion-row>
        </ion-grid>
        <div class="section-education resume">
          <label class="title-img">UPLOAD DOCUMENTS (E.G CERTIFICATE) Add documents,photos,sites,videos and
            presentations</label>
          <div class="img-label">
            <div class="img-main">
              <div class="btn-label d-label-1">
                <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload new image
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="deleteEmployee(employee)" slot="end">Delete</ion-button>
        </div>
      </div>
    </div>
    <div class="btn-section add-more">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="save()" expand="block">Save </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addMoreEmployee()" slot="end">Add More</ion-button>
      </div>
    </div>
  </div>
</ion-content>