.main-header {
   ion-toolbar.md.in-toolbar.hydrated {
      --background: #21b4b0;
   }

   ion-button.back-btn {
      color: #fff;
   }
}

.main {
   padding: 25px;
   padding-top: 7px;
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
}

ion-item.form-main.inner-item {
   margin-top: 10px;
   --padding-start: 4px;
}

.form-main ion-datetime.md.in-item.hydrated {
   height: 28px;
}

.title-chk {
   --padding-start: 4px;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
   --padding-top: 5px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

ion-item.form-main.inner-item {
   margin-top: 10px;
   --padding-start: 4px;
}

.radio-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 4px 34px;
}

.radio-btn-size {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

h5.heding-main {
   color: rgba(0, 0, 0, .87);
   font-weight: 400;
}

.radio-main {
   width: 100%;
}

ion-label.font-size {
   color: #8b8c8e;
}

h6.heding-main {
   color: #E6E6E8 !important;
}

ion-icon.section-calender.md.hydrated {
   padding-top: 16px;
}

.section-education.resume {
   margin-top: 20px;
}

.title-img {
   color: #8b8c8e;
   font-size: 12px;
   font-weight: 400;
}

.img-label {
   border: 1px dashed #21b4b0;
   border-radius: 5px;
   padding: 33px;
}

.btn-label.d-label-1 {
   text-align: center;
}

.btn-section {
   margin-top: 10px;
   text-align: end;
}


ion-button.inner-btn-new {
   --background: #000000;
}

.btn-section.add-more {
   text-align: start;
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}
.inner-btn-label{
   --background: #000000;
}