<!-- <ion-content>
  <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button> -->
  <div class="main">
    <div class="inner-section">
      <h1 class="heading">EMPLOYMENT INFORMATION</h1>
      <p class="para">Please provide references for your current and previous jobs. You can also upload your references
        and certificates here.
      </p>
    </div>
    <div class="section-education">
      <h1 class="heading">Employment History</h1>
      <p class="para">Please provide your employment details (to start with the most recent / current one first) and
        upload relevant
        certificates
      </p>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addEmployee()">Add employment</ion-button>
      </div>
    </div>
    <div class="section-education role">
      <h1 class="heading">Role</h1>
      <p class="para">Please Provide your role details (select <b class="highest">one primary role</b> from the
        drop-down) </p>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button (click)="addRoles()" class="inner-btn-save">Add role</ion-button>
      </div>
    </div>
    <div class="section-education role">
      <h1 class="heading">Industry Exposure</h1>
      <p class="para">Please provide your industry exposure as part of your professional engagement with different
        client/global brands</p>
    </div>
    <div class="custom-lang" *ngFor="let i of industries">
      <ion-item class="form-main inner-item" *ngIf="i !== 0">
        <ion-label position="floating">Industry</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
          <ion-select-option value="a">Advertising agencies</ion-select-option>
          <ion-select-option value="m">Automobiles</ion-select-option>
          <ion-select-option value="b">Banking and Financial Services</ion-select-option>
          <ion-select-option value="e">E-commerce</ion-select-option>
          <ion-select-option value="c">Education</ion-select-option>
          <ion-select-option value="a">Event Management</ion-select-option>
          <ion-select-option value="g">Govt. & Public Utilites</ion-select-option>
          <ion-select-option value="h">Healthcare</ion-select-option>
          <ion-select-option value="p">Health & Beauty Products</ion-select-option>
          <ion-select-option value="l">Logistics</ion-select-option>
          <ion-select-option value="r">Media & Entertainment</ion-select-option>
          <ion-select-option value="o">NGOs</ion-select-option>
          <ion-select-option value="t">Real Estate</ion-select-option>
          <ion-select-option value="v">Recuritment</ion-select-option>
          <ion-select-option value="u">Restaurants & takeways</ion-select-option>
          <ion-select-option value="i">Retail</ion-select-option>
          <ion-select-option value="k">Technology</ion-select-option>
          <ion-select-option value="z">Travel & Tourism</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="trash">
        <ion-icon name="trash" *ngIf="i !== 0" class="icon-trsh" (click)="delete(i)"></ion-icon>
      </div>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addIndustry()">Add Industry</ion-button>
      </div>
    </div>
    <div class="section-education role">
      <h1 class="heading">References</h1>
      <p class="para">If you think that reference from previous jobs could be helpful for us, please add them here. This
        will make your
        profile more meaningful.
        Please enter the details here and upload the relevant documents (if any)
      </p>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addReference()">Add reference</ion-button>
      </div>
    </div>
    <div class="section-education role">
      <h1 class="heading">Skill</h1>
      <p class="para">Please provid your skills(select all the appropriate skills from the drop-down). Please note there
        are few skills where
        you need to provide
        proof/certificate of acquiring the respective skills.
      </p>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addSkill()">Add skill</ion-button>
      </div>
    </div>
    <div class="section-education role">
      <h1 class="heading">Work Preferences</h1>
      <p class="para choose-para">Please choose everything that applies to you </p>
      <div class="checkbox-main">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; I have no wishes and am open to all offers</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; I would like to work independently</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; I would like to be busy on a case-by-case basis</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; I am looking for a permanent job</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; I want / have to stay below the marginal income limit</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; I have another job where I am permanent employee</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; I have another job that I work for occasionally</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; This is my first time working in Austria</ion-label>
        </div>
      </div>
      <div class="checkbox-main main-pad">
        <ion-checkbox class="check-text" (click)="checkVal($event, true)" type="checkbox"></ion-checkbox>
        <div class="check-section">
          <ion-label class="inner-text">&nbsp; Other</ion-label>
        </div>
      </div>
    </div>
    <div class="btn-section">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="saveNext()" expand="block">Save & Continue
        </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" expand="block">Continue (Without Saving)</ion-button>
      </div>
    </div>
  </div>
<!-- </ion-content> -->