.heading {
   font-weight: 400;
   color: #000;
   font-size: 19px;
   margin-top: 10px !important;
}

.main {
   padding: 0px 23px;
}

.para {
   color: rgba(0, 0, 0, .87);
   font-size: 14px;
   padding: 0px 11px 0 2px;
   margin-bottom: 0px;
}

.section-education {
   .heading {
      font-weight: 400;
      color: #8b8c8e;
      font-size: 18px;
      margin-top: 13px !important;
   }

   b.highest {
      text-decoration: underline;
   }
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}

.btn-section {
   margin-top: 10px;
}

.section-education.role {
   margin-top: 25px;
   margin-bottom: 12px;
}

.checkbox-main {
   align-items: center;
   display: flex;
   padding: 5px 2px;
}

ion-label.inner-text {
   font-size: 13px;
}

ion-checkbox.check-text.md.interactive.hydrated {
   --size: 14px;
}

.checkbox-main.main-pad {
   padding-top: 0px;
}

.btn-second-main {
   margin-top: 12px;
}

p.para.choose-para {
   margin-bottom: 10px;
}

.btn-section {
   margin-top: 10px;
   margin-bottom: 15px;
}

ion-button.inner-btn-label {
   --background: black;
}

ion-item.form-main.inner-item {
   --padding-start: 0;
   padding-right: 20px;
   width: 100%;
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
}

.trash {
   position: absolute;
   right: 22px;
   margin-top: 25px;
}

ion-icon.icon-trsh.md.hydrated {
   color: #8b8c8e;
}

.custom-lang {
   display: flex;
   justify-content: center;
   align-items: center;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

.form-main ion-select.md.in-item.hydrated {
   height: 27px;
}