<ion-content>
  <app-back-button label="auth.reset.buttons.back"></app-back-button>
  <div class="main">
    <h1 class="heading">Datenschutzerklärung</h1>
    <ol>
      <li>
        <p class="bold-text"><b> Name und Kontaktdaten des für die Verarbeitung Verantwortlichen sowie des betrieblichen
            Datenschutzbeauftragten</b></p>
        <p class="paragraph">
          Diese Datenschutz-Information gilt für die Datenverarbeitung durch:
        </p>
        <address class="paragraph">
          Verantwortlicher: elevate staffing GmbH, Stubenrauchstr. 72, 12161 Berlin,
          <br />
          E-Mail:
          <u>info@amploi.de</u>,<br />
          Telefon: +49 (0)30-30307156, Fax: +49 (0)30-41762922.
        </address>
        <p class="paragraph">
          Der Datenschutzbeauftragte von der elevate staffing GmbH ist:
        </p>
        <address class="paragraph">
          Herr Willuhn, unter der o.g. Anschrift, zu Hd. Herrn Willuhn,
          beziehungsweise unter <u>info@amploi.de</u>.
        </address>
      </li>
      <li>
        <p class="bold-text"><b>Erhebung und Speicherung personenbezogener Daten sowie Art und Zweck von deren
            Verwendung</b></p>
        <p class="bold-text"><b>a. Beim Besuch der Website</b></p>
        <p class="paragraph">
          Beim Aufrufen unserer Website <u><a href="http://portal.amploi.de/">portal.amploi.de</a></u> werden
          durch den auf Ihrem Endgerät zum Einsatz kommenden Browser
          automatisch Informationen an den Server unserer Website gesendet.
          Diese Informationen werden temporär in einem sog. Logfile
          gespeichert. Folgende Informationen werden dabei ohne Ihr Zutun
          erfasst und bis zur automatisierten Löschung gespeichert:
        </p>
        <ul class="paragraph">
          <li>IP-Adresse des anfragenden Rechners,</li>
          <li>Datum und Uhrzeit des Zugriffs,</li>
          <li>Name und URL der abgerufenen Datei,</li>
          <li>Website, von der aus der Zugriff erfolgt (Referrer-URL),</li>
          <li>verwendeter Browser und ggf. das Betriebssystem Ihres Rechners sowie
            der Name Ihres Access-Providers.
          </li>
        </ul>
        <br />
        <p class="paragraph">Die genannten Daten werden durch uns zu folgenden Zwecken verarbeitet:</p>
        <ul class="paragraph">
          <li>Gewährleistung eines reibungslosen Verbindungsaufbaus der
            Website,
          </li>
          <li>Gewährleistung einer komfortablen Nutzung unserer
            Website,
          </li>
          <li>Auswertung der Systemsicherheit und -stabilität
            sowie
          </li>
          <li>zu weiteren administrativen Zwecken.</li>
        </ul>
        <p class="paragraph">
          Die
          Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 S. 1
          lit. f DSGVO. Unser berechtigtes Interesse folgt aus oben
          aufgelisteten Zwecken zur Datenerhebung. In keinem Fall verwenden
          wir die erhobenen Daten zu dem Zweck, Rückschlüsse auf Ihre Person
          zu ziehen. Darüber hinaus setzen wir beim Besuch unserer Website
          Cookies ein. Nähere Erläuterungen dazu erhalten Sie unter den
          Ziff. 4 und 5 dieser Datenschutzerklärung.
        </p>
        <p class="bold-text">
          <b>b. Bei Anmeldung für unser Portal</b>
        </p>
        <p class="paragraph">
          Sofern
          Sie nach Art. 6 Abs. 1 S. 1 lit. a DSGVO ausdrücklich eingewilligt
          haben, verwenden wir Ihre E-Mail-Adresse und ihre eingetragenen
          Daten dafür, Ihnen regelmäßig unseren Newsletter oder
          Ausschreibungen für Aufträge zu übersenden. Für den Empfang des
          Newsletters bzw. der Ausschreibungen ist die Angabe einer
          E-Mail-Adresse ausreichend. Die Abmeldung ist jederzeit möglich,
          zum Beispiel über einen Link am Ende eines jeden Newsletters.
          Alternativ können Sie Ihren Abmeldewunsch gerne auch jederzeit an
          <u><a href="mailto:info@amploi.de">info@amploi.de</a></u> per E-Mail senden.
        </p>
        <p class="bold-text"><b>Weitergabe von Daten</b></p>
        <p class="paragraph">
          Eine
          Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den
          im Folgenden aufgeführten Zwecken findet nicht statt. Wir geben Ihre
          persönlichen Daten nur an Dritte weiter, wenn:
        </p>
        <ul class="paragraph">
          <li>Sie
            Ihre nach Art. 6 Abs. 1 S. 1 lit. a DSGVO ausdrückliche Einwilligung
            dazu erteilt haben,
          </li>
          <li>die Weitergabe nach Art. 6 Abs. 1 S. 1
            lit. f DSGVO zur <i>der Anbahnung, Abwicklung und Abrechnung von Promotionaufträgen</i>erforderlich
            ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes
            schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben,
          </li>
          <li>wenn für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine
            gesetzliche Verpflichtung besteht, sowie
          </li>
          <li>dies gesetzlich
            zulässig und nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die
            Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist.
          </li>
        </ul>
      </li>
      <li>
        <p class="bold-text"><b>Cookies</b></p>
        <p class="paragraph">Wir
          setzen auf unserer Seite Cookies ein. Hierbei handelt es sich um
          kleine Dateien, die Ihr Browser automatisch erstellt und die auf
          Ihrem Endgerät (Laptop, Tablet, Smartphone o.Ä.) gespeichert
          werden, wenn Sie unsere Seite besuchen. Cookies richten auf Ihrem
          Endgerät keinen Schaden an, enthalten keine Viren, Trojaner oder
          sonstige Schadsoftware. In dem Cookie werden Informationen abgelegt,
          die sich jeweils im Zusammenhang mit dem spezifisch eingesetzten
          Endgerät ergeben. Dies bedeutet jedoch nicht, dass wir dadurch
          unmittelbar Kenntnis von Ihrer Identität erhalten. Der Einsatz von
          Cookies dient einerseits dazu, die Nutzung unseres Angebots für Sie
          angenehmer zu gestalten. So setzen wir sogenannte Session-Cookies
          ein, um zu erkennen, dass Sie einzelne Seiten unserer Website
          bereits besucht haben. Diese werden nach Verlassen unserer Seite
          automatisch gelöscht. Darüber hinaus setzen wir ebenfalls zur
          Optimierung der Benutzerfreundlichkeit temporäre Cookies ein, die
          für einen bestimmten festgelegten Zeitraum auf Ihrem Endgerät
          gespeichert werden. Besuchen Sie unsere Seite erneut, um unsere
          Dienste in Anspruch zu nehmen, wird automatisch erkannt, dass Sie
          bereits bei uns waren und welche Eingaben und Einstellungen sie
          getätigt haben, um diese nicht noch einmal eingeben zu müssen. Zum
          anderen setzten wir Cookies ein, um die Nutzung unserer Website
          statistisch zu erfassen und zum Zwecke der Optimierung unseres
          Angebotes für Sie auszuwerten (siehe Ziff. 5). Diese Cookies
          ermöglichen es uns, bei einem erneuten Besuch unserer Seite
          automatisch zu erkennen, dass Sie bereits bei uns waren. Diese
          Cookies werden nach einer jeweils definierten Zeit automatisch
          gelöscht. Die durch Cookies verarbeiteten Daten sind für die
          genannten Zwecke zur Wahrung unserer berechtigten Interessen sowie
          der Dritter nach Art. 6 Abs. 1 S. 1 lit. f DSGVO erforderlich. Die
          meisten Browser akzeptieren Cookies automatisch. Sie können Ihren
          Browser jedoch so konfigurieren, dass keine Cookies auf Ihrem
          Computer gespeichert werden oder stets ein Hinweis erscheint, bevor
          ein neuer Cookie angelegt wird. Die vollständige Deaktivierung von
          Cookies kann jedoch dazu führen, dass Sie nicht alle Funktionen
          unserer Website nutzen können.
        </p>
      </li>
      <li>
        <p class="bold-text"><b>Analyse-Tools</b>
        <p class="bold-text"><b>a. Tracking-Tools</b></p>
        <p class="paragraph">Die
          im Folgenden aufgeführten und von uns eingesetzten
          Tracking-Maßnahmen werden auf Grundlage des Art. 6 Abs. 1 S. 1 lit.
          f DSGVO durchgeführt. Mit den zum Einsatz kommenden
          Tracking-Maßnahmen wollen wir eine bedarfsgerechte Gestaltung und
          die fortlaufende Optimierung unserer Website sicherstellen. Zum
          anderen setzen wir die Tracking-Maßnahmen ein, um die Nutzung
          unserer Website statistisch zu erfassen und zum Zwecke der
          Optimierung unseres Angebotes für Sie auszuwerten. Diese Interessen
          sind als berechtigt im Sinne der vorgenannten Vorschrift anzusehen.
          Die jeweiligen Datenverarbeitungszwecke und Datenkategorien sind aus
          den entsprechenden Tracking-Tools zu entnehmen.
        </p>
        <p class="bold-text"><b>b. Google Analytics</b></p>
        <p class="paragraph">Zum
          Zwecke der bedarfsgerechten Gestaltung und fortlaufenden Optimierung
          unserer Seiten nutzen wir Google Analytics, einen Webanalysedienst
          der Google Inc. (<a href="https://www.google.de/intl/de/about/"
            target="_blank"><u>https://www.google.de/intl/de/about/</u></a>)
          (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; im
          Folgenden „Google“). In
          diesem Zusammenhang werden pseudonymisierte Nutzungsprofile erstellt
          und Cookies (siehe unter Ziff. 4) verwendet. Die durch den Cookie
          erzeugten Informationen über Ihre Benutzung dieser Website wie
        </p>
        <ul class="paragraph">
          <li>Browser-Typ/-Version,</li>
          <li>verwendetes Betriebssystem,</li>
          <li>Referrer-URL (die zuvor besuchte Seite),</li>
          <li>Hostname des
            zugreifenden Rechners (IP-Adresse),
          </li>
          <li>Uhrzeit der
            Serveranfrage,
          </li>
        </ul>
        <p class="paragraph">
          werden an einen Server von Google in den
          USA übertragen und dort gespeichert. Die Informationen werden
          verwendet, um die Nutzung der Website auszuwerten, um Reports über
          die Websiteaktivitäten zusammenzustellen und um weitere mit der
          Websitenutzung und der Internetnutzung verbundene Dienstleistungen
          zu Zwecken der Marktforschung und bedarfsgerechten Gestaltung dieser
          Internetseiten zu erbringen. Auch werden diese Informationen
          gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
          vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag
          verarbeiten. Es wird in keinem Fall Ihre IP-Adresse mit anderen
          Daten von Google zusammengeführt. Die IP-Adressen werden
          anonymisiert, so dass eine Zuordnung nicht möglich ist
          (IP-Masking). Sie können die Installation der Cookies durch eine
          entsprechende Einstellung der Browser-Software verhindern; wir
          weisen jedoch darauf hin, dass in diesem Fall gegebenenfalls nicht
          sämtliche Funktionen dieser Website vollumfänglich genutzt werden
          können. Sie können darüber hinaus die Erfassung der durch das
          Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten
          (inkl. Ihrer IP-Adresse) sowie die Verarbeitung dieser Daten durch
          Google verhindern, indem Sie ein Browser-Add-on herunterladen und
          installieren (<a href="https://tools.google.com/dlpage/gaoptout?hl=de"
            target="_blank"><u>https://tools.google.com/dlpage/gaoptout?hl=de</u></a>).
          Alternativ zum Browser-Add-on, insbesondere bei Browsern auf mobilen
          Endgeräten, können Sie die Erfassung durch Google Analytics zudem
          verhindern, indem Sie auf diesen Link klicken. Es wird ein
          Opt-out-Cookie gesetzt, das die zukünftige Erfassung Ihrer Daten
          beim Besuch dieser Website verhindert. Das Opt-out-Cookie gilt nur
          in diesem Browser und nur für unsere Website und wird auf Ihrem
          Gerät abgelegt. Löschen Sie die Cookies in diesem Browser, müssen
          Sie das Opt-out-Cookie erneut setzen. Weitere Informationen zum
          Datenschutz im Zusammenhang mit Google Analytics finden Sie etwa in
          der Google Analytics-Hilfe
          (<a href="https://support.google.com/analytics/answer/6004245?hl=de"
            target="_blank"><u>https://support.google.com/analytics/answer/6004245?hl=de</u></a>).
        </p>
        <p class="bold-text"><b>c. Google Adwords Conversion Tracking<br /></b></p>
        <p class="paragraph">Um
          die Nutzung unserer Website statistisch zu erfassen und zum Zwecke
          der Optimierung unserer Website für Sie auszuwerten, nutzen wir
          ferner das Google Conversion Tracking. Dabei wird von Google Adwords
          ein Cookie (siehe Ziff. 4) auf Ihrem Rechner gesetzt, sofern Sie
          über eine Google-Anzeige auf unsere Website gelangt sind. Diese
          Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht
          der persönlichen Identifizierung. Besucht der Nutzer bestimmte
          Seiten der Website des Adwords-Kunden und das Cookie ist noch nicht
          abgelaufen, können Google und der Kunde erkennen, dass der Nutzer
          auf die Anzeige geklickt hat und zu dieser Seite weitergeleitet
          wurde. Jeder Adwords-Kunde erhält ein anderes Cookie. Cookies
          können somit nicht über die Webseiten von Adwords-Kunden
          nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten
          Informationen dienen dazu, Conversion-Statistiken für
          Adwords-Kunden zu erstellen, die sich für Conversion-Tracking
          entschieden haben. Die Adwords-Kunden erfahren die Gesamtanzahl der
          Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem
          Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie
          erhalten jedoch keine Informationen, mit denen sich Nutzer
          persönlich identifizieren lassen. Wenn Sie nicht an dem
          Tracking-Verfahren teilnehmen möchten, können Sie auch das hierfür
          erforderliche Setzen eines Cookies ablehnen – etwa per
          Browser-Einstellung, die das automatische Setzen von Cookies
          generell deaktiviert. Sie können Cookies für Conversion-Tracking
          auch deaktivieren, indem Sie Ihren Browser so einstellen, dass
          Cookies von der Domain „www.googleadservices.com“ blockiert
          werden. Googles Datenschutzbelehrung zum Conversion-Tracking finden
          Sie hier (<a href="https://services.google.com/sitestats/de.html"
            target="_blank"><u>https://services.google.com/sitestats/de.html</u></a>).
        </p>
      </li>
      <li>
        <p class="bold-text"><b>Social Media Plug-ins</b></p>
        <p class="paragraph">Wir
          setzen auf unserer Website auf Grundlage des Art. 6 Abs. 1 S. 1 lit.
          f DSGVO Social Plug-ins der sozialen Netzwerke Facebook, Twitter und
          Instagram ein, um unsere Kanzlei hierüber bekannter zu machen. Der
          dahinterstehende werbliche Zweck ist als berechtigtes Interesse im
          Sinne der DSGVO anzusehen. Die Verantwortung für den
          datenschutzkonformen Betrieb ist durch den jeweiligen Anbieter zu
          gewährleisten. Die Einbindung dieser Plug-ins durch uns erfolgt im
          Wege der sogenannten Zwei-Klick-Methode, um Besucher unserer
          Webseite bestmöglich zu schützen.
        </p>
        <p class="bold-text"><b>a. Facebook</b></p>
        <p class="paragraph">Auf
          unserer Website kommen Social-Media Plug-ins von Facebook zum
          Einsatz, um den Nutzung persönlicher zu gestalten. Hierfür nutzen
          wir den „LIKE“ oder „TEILEN“-Button. Es handelt sich dabei
          um ein Angebot von Facebook. Wenn Sie eine Seite unseres
          Webauftritts aufrufen, die ein solches Plug-in enthält, baut Ihr
          Browser eine direkte Verbindung mit den Servern von Facebook auf.
          Der Inhalt des Plug-ins wird von Facebook direkt an Ihren Browser
          übermittelt und von diesem in die Website eingebunden. Durch die
          Einbindung der Plug-ins erhält Facebook die Information, dass Ihr
          Browser die entsprechende Seite unseres Webauftritts aufgerufen hat,
          auch wenn Sie kein Facebook-Konto besitzen oder gerade nicht bei
          Facebook eingeloggt sind. Diese Information (einschließlich Ihrer
          IP-Adresse) wird von Ihrem Browser direkt an einen Server von
          Facebook in den USA übermittelt und dort gespeichert. Sind Sie bei
          Facebook eingeloggt, kann Facebook den Besuch unserer Website Ihrem
          Facebook-Konto direkt zuordnen. Wenn Sie mit den Plug-ins
          interagieren, zum Beispiel den „LIKE“ oder „TEILEN“-Button
          betätigen, wird die entsprechende Information ebenfalls direkt an
          einen Server von Facebook übermittelt und dort gespeichert. Die
          Informationen werden zudem auf Facebook veröffentlicht und Ihren
          Facebook-Freunden angezeigt. Facebook kann diese Informationen zum
          Zwecke der Werbung, Marktforschung und bedarfsgerechten Gestaltung
          der Facebook-Seiten benutzen. Hierzu werden von Facebook Nutzungs-,
          Interessen- und Beziehungsprofile erstellt, z.B. um Ihre Nutzung
          unserer Website im Hinblick auf die Ihnen bei Facebook
          eingeblendeten Werbeanzeigen auszuwerten, andere Facebook-Nutzer
          über Ihre Aktivitäten auf unserer Website zu informieren und um
          weitere mit der Nutzung von Facebook verbundene Dienstleistungen zu
          erbringen. Wenn Sie nicht möchten, dass Facebook die über unseren
          Webauftritt gesammelten Daten Ihrem Facebook-Konto zuordnet, müssen
          Sie sich vor Ihrem Besuch unserer Website bei Facebook ausloggen.
          Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und
          Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte
          und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre
          entnehmen Sie bitte den Datenschutzhinweisen von Facebook
          (<a href="https://www.facebook.com/about/privacy/"
            target="_blank"><u>https://www.facebook.com/about/privacy/</u></a>).
        </p>
        <p class="bold-text"><b>b. Twitter</b></p>
        <p class="paragraph">Auf
          unseren Internetseiten sind Plug-ins des Kurznachrichtennetzwerks
          der Twitter Inc. (Twitter) integriert. Die Twitter-Plug-ins
          (tweet-Button) erkennen Sie an dem Twitter-Logo auf unserer Seite.
          Eine Übersicht über tweet-Buttons finden Sie unter:
          (<a href="https://about.twitter.com/resources/buttons"
            target="_blank"><u>https://about.twitter.com/resources/buttons</u></a>).
        </p>
        <p class="paragraph">
          Wenn
          Sie eine Seite unseres Webauftritts aufrufen, die ein solches
          Plug-in enthält, wird eine direkte Verbindung zwischen Ihrem
          Browser und dem Twitter-Server hergestellt. Twitter erhält dadurch
          die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht
          haben. Wenn Sie den Twitter „tweet-Button“ anklicken, während
          Sie in Ihrem Twitter-Account eingeloggt sind, können Sie die
          Inhalte unserer Seiten auf Ihrem Twitter-Profil verlinken. Dadurch
          kann Twitter den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen.
          Wir weisen darauf hin, dass wir als Anbieter der Seiten keine
          Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung
          durch Twitter erhalten. Wenn Sie nicht wünschen, dass Twitter den
          Besuch unserer Seiten zuordnen kann, loggen Sie sich bitte aus Ihrem
          Twitter-Benutzerkonto aus. Weitere Informationen hierzu finden Sie
          in der Datenschutzerklärung von Twitter
          (<a href="https://twitter.com/privacy" target="_blank"><u>https://twitter.com/privacy</u></a>).
        </p>
        <p class="bold-text"><b>c. Instagram</b></p>
        <p class="paragraph">Auf
          unserer Website werden auch sogenannte Social Plug-ins („Plug-ins“)
          von Instagram verwendet, das von der Instagram LLC., 1601 Willow
          Road, Menlo Park, CA 94025, USA („Instagram“) betrieben wird.
          Die Plug-ins sind mit einem Instagram-Logo beispielsweise in Form
          einer „Instagram-Kamera“ gekennzeichnet. Wenn Sie eine Seite
          unseres Webauftritts aufrufen, die ein solches Plugin enthält,
          stellt Ihr Browser eine direkte Verbindung zu den Servern von
          Instagram her. Der Inhalt des Plug-ins wird von Instagram direkt an
          Ihren Browser übermittelt und in die Seite eingebunden. Durch diese
          Einbindung erhält Instagram die Information, dass Ihr Browser die
          entsprechende Seite unseres Webauftritts aufgerufen hat, auch wenn
          Sie kein Instagram-Profil besitzen oder gerade nicht bei Instagram
          eingeloggt sind. Diese Information (einschließlich Ihrer
          IP-Adresse) wird von Ihrem Browser direkt an einen Server von
          Instagram in die USA übermittelt und dort gespeichert. Sind Sie bei
          Instagram eingeloggt, kann Instagram den Besuch unserer Website
          Ihrem Instagram-Account unmittelbar zuordnen. Wenn Sie mit den
          Plug-ins interagieren, zum Beispiel den „Instagram“-Button
          betätigen, wird diese Information ebenfalls direkt an einen Server
          von Instagram übermittelt und dort gespeichert. Die Informationen
          werden außerdem auf Ihrem Instagram-Account veröffentlicht und
          dort Ihren Kontakten angezeigt. Wenn Sie nicht möchten, dass
          Instagram die über unseren Webauftritt gesammelten Daten
          unmittelbar Ihrem Instagram-Account zuordnet, müssen Sie sich vor
          Ihrem Besuch unserer Website bei Instagram ausloggen. Weitere
          Informationen hierzu finden Sie in der Datenschutzerklärung
          (<a href="https://help.instagram.com/155833707900388"
            target="_blank"><u>https://help.instagram.com/155833707900388</u></a>)
          von Instagram.
        </p>
      </li>
      <li>
        <p class="bold-text"><b>Betroffenenrechte</b></p>
        <p class="paragraph">Sie haben das Recht:</p>
        <ul class="paragraph">
          <li>Gemäß Art. 15 DSGVO Auskunft über
            Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen.
            Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die
            Kategorien der personenbezogenen Daten, die Kategorien von
            Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder
            werden, die geplante Speicherdauer, das Bestehen eines Rechts auf
            Berichtigung, Löschung, Einschränkung der Verarbeitung oder
            Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer
            Daten, sofern diese nicht bei uns erhoben wurden, sowie über das
            Bestehen einer automatisierten Entscheidungsfindung einschließlich
            Profiling und ggf. aussagekräftigen Informationen zu deren
            Einzelheiten verlangen;
          </li>
          <li>Gemäß Art. 16 DSGVO unverzüglich
            die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns
            gespeicherten personenbezogenen Daten zu verlangen;
          </li>
          <li> Gemäß
            Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten
            personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung
            zur Ausübung des Rechts auf freie Meinungsäußerung und
            Information, zur Erfüllung einer rechtlichen Verpflichtung, aus
            Gründen des öffentlichen Interesses oder zur Geltendmachung,
            Ausübung oder Verteidigung von Rechtsansprüchen erforderlich
            ist;
          </li>
          <li>Gemäß Art. 18 DSGVO die Einschränkung der
            Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die
            Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung
            unrechtmäßig ist, Sie aber deren Löschung ablehnen und wir die
            Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung,
            Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder
            Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung
            eingelegt haben;
          </li>
          <li>Gemäß Art. 20 DSGVO Ihre
            personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem
            strukturierten, gängigen und maschinenlesebaren Format zu erhalten
            oder die Übermittlung an einen anderen Verantwortlichen zu
            verlangen;
          </li>
          <li>Gemäß Art. 7 Abs. 3 DSGVO Ihre einmal erteilte
            Einwilligung jederzeit uns gegenüber zu widerrufen. Dies hat zur
            Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung
            beruhte, für die Zukunft nicht mehr fortführen dürfen;
          </li>
          <li>Gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu
            beschweren. In der Regel können Sie sich hierfür an die
            Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder
            Arbeitsplatzes oder unseres Kanzleisitzes wenden.
          </li>
        </ul>
      </li>
      <li>
        <p class="bold-text"><b>Widerspruchsrecht<br /></b></p>
        <p class="paragraph">Sofern
          Ihre personenbezogenen Daten auf Grundlage von berechtigten
          Interessen gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO verarbeitet
          werden, haben Sie das Recht, gemäß Art. 21 DSGVO Widerspruch gegen
          die Verarbeitung Ihrer personenbezogenen Daten einzulegen, soweit
          dafür Gründe vorliegen, die sich aus Ihrer besonderen Situation
          ergeben oder sich der Widerspruch gegen Direktwerbung richtet. Im
          letzteren Fall haben Sie ein generelles Widerspruchsrecht, das ohne
          Angabe einer besonderen Situation von uns umgesetzt wird. Möchten
          Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen,
          genügt eine E-Mail: <u>info@amploi.de</u>
        </p>
      </li>
      <li>
        <p class="bold-text"><b>Datensicherheit</b></p>
        <p class="paragraph">Wir
          verwenden innerhalb des Website-Besuchs das verbreitete
          SSL-Verfahren (Secure Socket Layer) in Verbindung mit der jeweils
          höchsten Verschlüsselungsstufe, die von Ihrem Browser unterstützt
          wird. In der Regel handelt es sich dabei um eine 256-Bit
          Verschlüsselung. Falls Ihr Browser keine 256-Bit Verschlüsselung
          unterstützt, greifen wir stattdessen auf die 128-Bit v3 Technologie
          zurück. Ob eine einzelne Seite unseres Internetauftrittes
          verschlüsselt übertragen wird, erkennen Sie an der geschlossenen
          Darstellung des Schüssel- beziehungsweise Schloss-Symbols in der
          unteren Statusleiste Ihres Browsers. Wir bedienen uns im Übrigen
          geeigneter technischer und organisatorischer Sicherheitsmaßnahmen,
          um Ihre Daten gegen zufällige oder vorsätzliche Manipulationen,
          teilweisen oder vollständigen Verlust, Zerstörung oder gegen den
          unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmaßnahmen
          werden entsprechend der technologischen Entwicklung fortlaufend
          verbessert.
        </p>
      </li>
      <li>
        <p class="bold-text"><b>Aktualität und Änderung dieser Datenschutzerklärung</b></p>
        <p class="paragraph">Diese
          Datenschutzerklärung ist aktuell gültig und hat den Stand Mai
          2018. Durch die Weiterentwicklung unserer Website und Angebote
          darüber oder aufgrund geänderter gesetzlicher beziehungsweise
          behördlicher Vorgaben kann es notwendig werden, diese
          Datenschutzerklärung zu ändern. Die jeweils aktuelle
          Datenschutzerklärung kann jederzeit im Portal
          unter&nbsp;<a href="https://portal.amploi.de/dataprivacy"
            target="_blank"><u>https://portal.amploi.de/dataprivacy</u></a> von Ihnen abgerufen und
          ausgedruckt werden.
        </p>
      </li>
    </ol>
  </div>
</ion-content>