<ion-header class="main-header">
  <ion-toolbar>
    <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
      <ion-icon name="arrow-back-outline" color="primary" class="min-icon"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="section-first" *ngFor="let qualification of qualifications">
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main title-chk">
                  <ion-label position="floating">School / College / University Name*</ion-label>
                  <ion-input name="school_college_university" formControlName="school_college_university" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('school_college_university').touched && registerForm.get('school_college_university').invalid">
                    <p *ngIf="registerForm.get('school_college_university').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Degree*</ion-label>
                  <ion-select formControlName="degree" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                    <ion-select-option value="a">Secondary / School</ion-select-option>
                    <ion-select-option value="c">Higher Secondary / Associate</ion-select-option>
                    <ion-select-option value="d">Bachelors / Gradution</ion-select-option>
                    <ion-select-option value="e">Master/Post graduation</ion-select-option>
                    <ion-select-option value="g">Doctorate</ion-select-option>
                    <ion-select-option value="i">Professional (technical)</ion-select-option>
                    <ion-select-option value="t">Professional (non-technical)</ion-select-option>
                    <ion-select-option value="o">Other</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('degree').touched && registerForm.get('degree').invalid">
                    <p *ngIf="registerForm.get('degree').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Field of Study</ion-label>
                  <ion-input name="fieldofstudy" formControlName="fieldofstudy" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('fieldofstudy').touched && registerForm.get('fieldofstudy').invalid">
                    <p *ngIf="registerForm.get('fieldofstudy').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Grade / %age*</ion-label>
                  <ion-input name="grade" formControlName="grade" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('grade').touched && registerForm.get('grade').invalid">
                    <p *ngIf="registerForm.get('grade').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Start Date (Month / Year)*</ion-label>
                  <ion-datetime name="start_date" formControlName="start_date" required></ion-datetime>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('start_date').touched && registerForm.get('start_date').invalid">
                    <p *ngIf="registerForm.get('start_date').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">End Date or Expected(Month / Year)*</ion-label>
                  <ion-datetime name="end_date" formControlName="end_date" required></ion-datetime>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('end_date').touched && registerForm.get('end_date').invalid">
                    <p *ngIf="registerForm.get('end_date').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Description</ion-label>
                  <ion-input name="description" formControlName="description" type="text" required></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="section-education resume">
          <label class="title-img">Upload Document (e.g. Certificate)</label>
          <div class="img-label">
            <div class="img-main">
              <div class="btn-label d-label-1">
                <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload new image
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="qulificationDelete(qualification)" slot="end">Delete</ion-button>
        </div>
      </div>
      <div class="inner-section" *ngIf="qualification === 0">
        <p class="para">Please complete your information about previous education, then you can add further education.
        </p>
      </div>
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="save(qualification)" expand="block">Save & Continue</ion-button>
      </div>
    </div>
    <div class="btn-section add-more">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addQualification()" slot="end">Add More</ion-button>
      </div>
    </div>
  </div>

</ion-content>