.filter-button {
   margin: 5px;
   border: 1px solid var(--ion-color-primary);
   border-radius: 10px !important;
   overflow: auto;
}

.filter-button {
   label {
      width: 4em;
   }
}

.filter-button {
   label {
      span {
         text-align: center;
         padding: 5px 10px 5px 10px;
         display: block;
         color: var(--ion-color-primary);
      }
   }
}

.filter-button {
   label {
      input {
         position: absolute;
         top: -20px;
      }
   }
}

.filter-button input:checked+span {
   background-color: var(--ion-color-success);
}