<ion-content>
  <app-back-button label="bills.preparation.details.back"></app-back-button>
  <app-tender-item *ngIf="details" [tender]="details"></app-tender-item>

  <div color="light" class="details ion-text-wrap ion-margin">
    <span>{{ 'assignments.details.fees' | translate }}</span>
    <div appItemDetails class="app-item-details">
      <ion-col size="12" color="light" class="ion-text-wrap desc incentives" *ngIf="details.incentive_model">
        <p>{{ 'assignments.details.incentives.label' | translate }}</p>
        <div *ngFor="let key of ['checkin', 'sales_report', 'picture_documentation']">
          <span>{{ 'assignments.details.incentives.' + key | translate }}</span>
          <span>{{ details.incentives[key] | currency }}</span>
        </div>
      </ion-col>
    </div>
  </div>
</ion-content>