<ion-header class="main-header">
  <ion-toolbar>
    <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
      <ion-icon name="arrow-back-outline" color="primary" class="min-icon"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="section-first" *ngFor="let identity of identities">
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main title-chk">
                  <ion-label position="floating">ID Name *</ion-label>
                  <ion-input name="id_name" formControlName="id_name" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('id_name').touched && registerForm.get('id_name').invalid">
                    <p *ngIf="registerForm.get('id_name').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">ID Number *</ion-label>
                  <ion-input name="id_number" formControlName="id_number" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('id_number').touched && registerForm.get('id_number').invalid">
                    <p *ngIf="registerForm.get('id_number').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Expiry Date</ion-label>
                  <ion-datetime name="exp_date" formControlName="exp_date" required></ion-datetime>
                  <ion-icon class="section-calender" name="calendar" slot="end"></ion-icon>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="section-education resume">
          <div class="img-label">
            <div class="img-main">
              <div class="btn-label d-label-1">
                <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload Document
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="delete(identity)" slot="end">Delete</ion-button>
        </div>
      </div>
    </div>
    <div class="btn-section add-more">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="save()" expand="block">Save </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addMoreIdentity()" slot="end">Add More</ion-button>
      </div>
    </div>
  </div>
</ion-content>