<ion-row class="ion-no-padding">
  <ion-input [name]="name" ngDefaultControl type="number" [(ngModel)]="min" (ionBlur)="set()"
    [placeholder]="context + '.filters.' + name + '.min-placeholder' | translate">
  </ion-input>
  <ion-input [name]="name" ngDefaultControl type="number" [(ngModel)]="max" (ionBlur)="set()"
    [placeholder]="context + '.filters.' + name + '.max-placeholder' | translate">
  </ion-input>
</ion-row>