.container {
   display: block;
   margin: 15px auto;

   ion-card {
      // @include ion-card-p4y;
      position: relative;
      box-shadow: unset;
   }

   .no-counting {
      display: none !important;
   }

   .no-action {
      display: none !important;
   }

   // &[expanded="true"] {
   .counting {
      display: flex;
      margin: 0 16px;
      border: 1px solid #ccc;
      border-bottom: none !important;

      ion-thumbnail {
         display: flex;

         ion-icon {
            margin: auto;
         }
      }

      .head {
         border-left: 1px solid #ccc;
         padding-left: 10px;

         h3 {
            // margin: 2px 0;
         }
      }

      &+tender-item {
         ion-thumbnail {
            display: none;
         }
      }
   }

   ion-card.today {
      .head .future {
         display: none;
      }

      .head .today {
         span:first-of-type:after {
            content: ',';
         }
      }

      h3 {
         width: 100%;
      }

      ion-label {
         white-space: normal;
      }

      .remain,
      .late {
         display: none;
         padding-left: .5rem;
      }

      &.available {
         .action {
            --background: var(--ion-color-button-primary);
         }

         .remain {
            display: inline-block;
         }

         .late {
            display: none;
         }

         &.delayed {
            .late {
               display: inline-block;
            }

            .remain {
               display: none;
            }
         }
      }

      &.late,
      &.checkedin {
         .head .today {
            span:first-of-type:after {
               content: '';
            }

            span+span {
               display: none;
            }
         }

         .action {
            --background: var(--ion-color-danger);
         }
      }

      &.checkedin {
         .action {
            --background: var(--ion-color-button-primary);
         }

         &.checkedout.done {
            tender-item {
               margin-bottom: 0;
            }

            .action {
               display: none;
            }
         }
      }
   }

   ion-card {
      .counting ion-icon:before {
         content: '\f467';
      }

      &.today .counting ion-icon:before {
         content: '\f467';
      }

      &.available .counting ion-icon:before {
         content: '\f4b6';
      }

      &.delayed .counting ion-icon:before {
         content: '\f1de';
      }

      &.late .counting ion-icon:before {
         content: '\f494';
      }

      &.checkedin .counting ion-icon:before {
         content: '\f3ff';
      }

      &.checkedout .counting ion-icon:before {
         content: '\f191';
      }
   }


   ion-card:not(.today) .head .today {
      display: none;
   }

   tender-item {
      margin-bottom: 40px;
   }

   .action {
      display: block;
      padding: 0 16px;
      margin-top: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      --border-radius: 0;
      --background: #ccc;
   }

   // }

   app-tender-item {
      .item-inner {
         border-left: none !important;
         padding: 10px !important;
      }
   }
}