<div class="container">
  <ion-card button="tappable" [ngClass]="status.class" class="ion-no-padding ion-no-margin">
    <div class="counting" [ngClass]="{'no-counting': !expanded}" (click)="showDetails()">
      <ion-thumbnail>
        <ion-icon size="medium"></ion-icon>
      </ion-thumbnail>
      <div class="head">
        <h3>
          <span class="today">
            <span>{{ 'assignments.header.' + status.header | translate }}</span>
            <span class="remain">{{ 'common.remaining' | translate }}</span>
            <span class="late">{{ 'common.late' | translate }}</span>
          </span>
          <span class="future">{{ assignment.start_at | date : 'dd MMM' }},
            {{ assignment.start_time }}
          </span>
        </h3>
      </div>
    </div>

    <app-tender-item class="assignment-item" [tender]="assignment"></app-tender-item>
    <ion-button class="action" [ngClass]="{'no-action': !expanded}" (click)="action()">
      {{ 'assignments.buttons.' + status.button | translate }}
    </ion-button>
  </ion-card>
</div>