<ion-content>
  <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button>
  <!-- <div class="edit-section">
    <div class="edit-main">
      <img src="../../assets/tick.png" class="img-icon success" alt="">
    </div>
  </div> -->
  <div class="main">
    <div class="edit-section">
      <div class="edit-main" (click)="openTab(1)">
        <img src="../../assets/pencil.png" [class.active]="tabChk === 1" class="img-icon" alt="" />
      </div>
      <div class="edit-main" (click)="openTab(2)">
        <img src="../../assets/pencil.png" [class.active]="tabChk === 2" class="img-icon" alt="" />
      </div>
      <div class="edit-main" (click)="openTab(3)">
        <img src="../../assets/pencil.png" [class.active]="tabChk === 3" class="img-icon" alt="" />
      </div>
      <div class="edit-main" (click)="openTab(4)">
        <img src="../../assets/pencil.png" [class.active]="tabChk === 4" class="img-icon" alt="" />
      </div>
      <div class="edit-main" (click)="openTab(5)">
        <img src="../../assets/pencil.png" [class.active]="tabChk === 5" class="img-icon" alt="" />
      </div>
    </div>
    <ng-container *ngIf="tabChk == 1">
      <div class="inner-section">
        <h1 class="heading">PERSONAL INFORMATION</h1>
        <p class="para">
          Please enter your personal data like name and address here.
        </p>
        <h4 class="inner-heading">Personal Data</h4>
      </div>
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main title-chk">
                  <ion-label position="floating">Title</ion-label>
                  <ion-input name="title" formControlName="title" type="text"></ion-input>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">First Name*</ion-label>
                  <ion-input name="firstname" formControlName="firstname" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('firstname').touched && registerForm.get('firstname').invalid">
                    <p *ngIf="registerForm.get('firstname').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Last Name*</ion-label>
                  <ion-input name="lastname" formControlName="lastname" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('lastname').touched && registerForm.get('lastname').invalid">
                    <p *ngIf="registerForm.get('lastname').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-input name="birthdate" formControlName="birthdate" type="date" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('birthdate').touched && registerForm.get('birthdate').invalid">
                    <p *ngIf="registerForm.get('birthdate').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Gender*</ion-label>
                  <ion-select formControlName="gender" [interfaceOptions]="customActionSheetOptions"
                    interface="action-sheet">
                    <ion-select-option value="F">Female</ion-select-option>
                    <ion-select-option value="M">Male</ion-select-option>
                    <ion-select-option value="D">Diverse</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('gender').touched && registerForm.get('gender').invalid">
                    <p *ngIf="registerForm.get('gender').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Place of birth</ion-label>
                  <ion-input name="birthplace" formControlName="birthplace" type="text" required></ion-input>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Country of birth*</ion-label>
                  <ion-select formControlName="birthcountry" [interfaceOptions]="customActionSheetOptions">
                    <ng-container *ngFor="let country of allCountry; let i = index">
                      <ion-select-option [value]="country">{{country}}</ion-select-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('birthcountry').touched && registerForm.get('birthcountry').invalid">
                    <p *ngIf="registerForm.get('birthcountry').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Driving License</ion-label>
                  <ion-select formControlName="has_driverslicense" (ionChange)="dlCheck($event)" [interfaceOptions]="customActionSheetOptions"
                    interface="action-sheet">
                    <ion-select-option value=true>Yes</ion-select-option>
                    <ion-select-option value=false>No</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-main inner-item" *ngIf="checkDLvalue === 'true'">
                  <ion-label position="floating">Select</ion-label>
                  <ion-select formControlName="driver_license" multiple="true">
                    <ng-container *ngFor="let opt of items">
                      <ion-select-option [value]="opt?.value">{{opt?.name}}</ion-select-option>
                    </ng-container>
                  </ion-select>
                </ion-item>                
              </div>             
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="inner-section">
          <h4 class="inner-heading">Contact Details</h4>
          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div class="inner-contact">
                  <div class="main-contact">
                    <ngx-intl-tel-input [cssClass]="'custom-input'" [enableAutoCountrySelect]="false"
                      [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [customPlaceholder]="telephonePlaceholder.tel" [selectedCountryISO]="CountryISO.India"
                      [selectFirstCountry]="false" [maxLength]="15" formControlName="mobileObj" name='mobileObj'>
                    </ngx-intl-tel-input>
                  </div>
                  <div class="main-contact second-contact">
                    <ngx-intl-tel-input [cssClass]="'custom-input'" [enableAutoCountrySelect]="false"
                      [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [customPlaceholder]="telephonePlaceholder.alt" [selectedCountryISO]="CountryISO.India"
                      [selectFirstCountry]="false" [maxLength]="15" formControlName="phoneObj" name="phoneObj">
                    </ngx-intl-tel-input>
                  </div>
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">E-mail Address</ion-label>
                    <ion-input name="email" disabled="true" formControlName="email" type="text"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="inner-section">
          <h4 class="inner-heading">Primary Address</h4>
          <ion-grid>
            <ion-row color="primary" justify-content-center class="main-row">
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item class="form-main title-chk">
                    <ion-label position="floating">House No., Building, St.No.*</ion-label>
                    <ion-input name="address" formControlName="address" type="text" required></ion-input>
                  </ion-item>
                  <div class="error-fields">
                    <div *ngIf="registerForm.get('address').touched && registerForm.get('address').invalid">
                      <p *ngIf="registerForm.get('address').hasError('required')" class="required">
                        Mandatory field.
                      </p>
                    </div>
                  </div>
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Locality*</ion-label>
                    <ion-input name="locality" formControlName="locality" type="text" required></ion-input>
                  </ion-item>
                  <div class="error-fields">
                    <div *ngIf="registerForm.get('locality').touched && registerForm.get('locality').invalid">
                      <p *ngIf="registerForm.get('locality').hasError('required')" class="required">
                        Mandatory field.
                      </p>
                    </div>
                  </div>
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Postal Code*</ion-label>
                    <ion-input name="zip" formControlName="zip" type="text" required></ion-input>
                  </ion-item>
                  <div class="error-fields">
                    <div *ngIf="registerForm.get('zip').touched && registerForm.get('zip').invalid">
                      <p *ngIf="registerForm.get('zip').hasError('required')" class="required">
                        Mandatory field.
                      </p>
                    </div>
                  </div>
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">City*</ion-label>
                    <ion-input name="city" formControlName="city" type="text" required></ion-input>
                  </ion-item>
                  <div class="error-fields">
                    <div *ngIf="registerForm.get('city').touched && registerForm.get('city').invalid">
                      <p *ngIf="registerForm.get('city').hasError('required')" class="required">
                        Mandatory field.
                      </p>
                    </div>
                  </div>
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Country*</ion-label>
                    <ion-input name="country" formControlName="country" type="text" required></ion-input>
                  </ion-item>
                  <div class="error-fields">
                    <div *ngIf="registerForm.get('country').touched && registerForm.get('country').invalid">
                      <p *ngIf="registerForm.get('country').hasError('required')" class="required">
                        Mandatory field.
                      </p>
                    </div>
                  </div>
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Nearest major City</ion-label>
                    <ion-input name="near_to_city" formControlName="near_to_city" type="text" required></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
            <div class="checkbox-main">
              <div class="check-section">
                <ion-checkbox class="check-text" formControlName="check" (click)="checkValue($event)"></ion-checkbox>
              </div>
              <ion-label class="inner-text">&nbsp;&nbsp; Add 2nd Address</ion-label>
            </div>
            <ion-row color="primary" justify-content-center class="main-row" *ngIf="address2Check !== true">
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item class="form-main title-chk">
                    <ion-label position="floating">House No., Building, St.No.*</ion-label>
                    <ion-input name="address2" formControlName="address2" type="text" required></ion-input>
                  </ion-item>                  
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Locality*</ion-label>
                    <ion-input name="locality_alternative" formControlName="locality_alternative" type="text" required></ion-input>
                  </ion-item>                  
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Postal Code*</ion-label>
                    <ion-input name="zip2" formControlName="zip2" type="text" required></ion-input>
                  </ion-item>                  
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">City*</ion-label>
                    <ion-input name="city2" formControlName="city2" type="text" required></ion-input>
                  </ion-item>                  
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Country*</ion-label>
                    <ion-input name="country2" formControlName="country2" type="text" required></ion-input>
                  </ion-item>                 
                  <ion-item class="form-main inner-item">
                    <ion-label position="floating">Nearest major City</ion-label>
                    <ion-input name="near_to_city2" formControlName="near_to_city2" type="text"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </form>
      <div class="btn-section">
        <div class="btn-main">
          <ion-button class="inner-btn-label" (click)="save()" expand="block">Save & Continue
          </ion-button>
        </div>
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" expand="block">Continue (Without Saving)</ion-button>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="tabChk == 2">
    <app-appearance></app-appearance>
  </ng-container>
  <ng-container *ngIf="tabChk == 3">
    <app-qualifications></app-qualifications>
  </ng-container>
  <ng-container *ngIf="tabChk == 4">
    <app-employment></app-employment>
  </ng-container>
  <ng-container *ngIf="tabChk == 5">
    <app-legal></app-legal>
  </ng-container>
</ion-content>