.main {
   padding: 25px;
   padding-top: 7px;

   h1.heading {
      color: #000;
      font-weight: 400;
      font-size: 20px;
   }

   p.para {
      color: rgba(0, 0, 0, .87);
      font-size: 14px;
   }

   h4.inner-heading {
      color: #8b8c8e;
      font-size: 21px;
   }

}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
}

ion-item.form-main.inner-item {
   margin-top: 10px;
   --padding-start: 4px;
}

.title-chk {
   --padding-start: 4px;
}

.main ion-select.md.in-item.hydrated {
   height: 27px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

.contact-section input.native-input.sc-ion-input-md {
   padding-bottom: 1px !important;
}

.inner-contact {
   padding: 5px;
   width: 100%;
}

.main-contact {
   width: 100%;
   padding: 6px 2px;
}

::ng-deep .custom-input {
   padding: 8px 3px;
   border: none;
   border-bottom: 1px solid #8b8c8e;
   width: 100%;
}

::ng-deep .main-contact .iti.iti--allow-dropdown {
   width: 100%;
}

.checkbox-main {
   align-items: center;
   padding: 10px;
   display: flex;
}

.btn-section {
   padding: 12px;
}

.btn-second-main {
   margin-top: 12px;
}

ion-button.inner-btn-label {
   --background: black;
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}

.edit-section {
   display: flex;
   width: 100%;
   justify-content: space-around;
   align-items: center;
}

img.img-icon {
   background: #000;
   border-radius: 50%;
   padding: 8px 8px;
}

.img-add-background {
   background: rgb(104, 209, 83);
}
img {
   max-width: 80%;
}
.active {
   background: #21b4b0 !important;
}
.check_dl_section {
   padding-top: 10px;
}
ion-checkbox.check-text.md.interactive.hydrated {
   --size: 16px;
}