.main-header {
   ion-toolbar.md.in-toolbar.hydrated {
      --background: #21b4b0;
   }

   ion-button.back-btn {
      color: #fff;
   }
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
   --padding-top: 5px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

.title-chk {
   --padding-start: 4px;
}

.main {
   padding: 25px;
   padding-top: 7px;

   ion-label.font-size {
      color: #8b8c8e;
   }
}

ion-item.form-main.inner-item {
   margin-top: 10px;
   --padding-start: 4px;
}

ion-icon.section-calender.md.hydrated {
   padding-top: 16px;
}

.form-main ion-datetime.md.in-item.hydrated {
   height: 28px;
}

.title-img {
   color: #8b8c8e;
   font-size: 12px;
   font-weight: 400;
}

.img-label {
   border: 1px dashed #21b4b0;
   border-radius: 5px;
   padding: 33px;
}

.btn-label.d-label-1 {
   text-align: center;
}

ion-button.inner-btn-new {
   --background: #000000;
}
.inner-btn-submit{
   --background: #000000;
}
.section-education.resume {
   margin-top: 20px;
}

.btn-section {
   margin-top: 15px;
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}