<ion-header class="main-header">
  <ion-toolbar>
    <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
      <ion-icon name="arrow-back-outline" color="primary" class="min-icon"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main">
    <div class="section-first" *ngFor="let trainnig of trainings">
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main title-chk">
                  <ion-label position="floating">Name of the training / certification</ion-label>
                  <ion-input name="name" formControlName="name" type="text" required></ion-input>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Issuing Organization</ion-label>
                  <ion-input name="issuing_organization" formControlName="issuing_organization" type="text" required></ion-input>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Issue Date (Month/Year)</ion-label>
                  <ion-datetime name="issue_date" formControlName="issue_date" required></ion-datetime>
                  <ion-icon class="section-calender" name="calendar" slot="end"></ion-icon>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Description</ion-label>
                  <ion-input name="description" formControlName="description" type="text" required></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="section-education resume">
          <label class="title-img">UPLOAD DOCUMENTS (E.G CERTIFICATE) Add documents,photos,sites,videos and
            presentations</label>
          <div class="img-label">
            <div class="img-main">
              <div class="btn-label d-label-1">
                <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload new image
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="deleteTraining(trainnig)" expand="block">Delete</ion-button>
        </div>
      </div>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-submit" (click)="submit(trainnig)" expand="block">Submit</ion-button>
        </div>
      </div>
    </div>
    <div class="btn-section add-more">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="moreTraining()" expand="block">Add More</ion-button>
      </div>
    </div>
  </div>
</ion-content>