<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="labels-list">
        <ion-list-header>Menu</ion-list-header>
        <ng-container *ngFor="let menu of menuItem">
          <ion-item (click)="goto(menu.url)">
            <ion-icon name="{{menu.icon}}" slot="{{menu.slot}}"></ion-icon>
            <ion-label>{{menu.name}}</ion-label>
          </ion-item>
        </ng-container>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>