<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item [routerLink]="settingPage.profile">
      {{ 'settings.my-profile' | translate }}
      <ion-icon name="person" slot="end"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="settingPage.imprint">
      {{ 'settings.imprint' | translate }}
    </ion-item>
    <ion-item [routerLink]="settingPage.privacy">
      {{ 'settings.dataprivacy' | translate }}
    </ion-item>
    <app-push-notify-toggle label="push.settings.label-tenders-matching" type="tenders-matching" default=false>
    </app-push-notify-toggle>
    <app-push-notify-toggle label="push.settings.label-coming-checkout" type="coming-checkout" default=true>
    </app-push-notify-toggle>
    <ion-item (click)="logout()">
      {{ 'auth.logout.action' | translate }}
    </ion-item>
  </ion-list>
</ion-content>