<!-- <ion-content>
  <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button> -->
  <div class="main">
    <form [formGroup]="registerForm">
    <div class="inner-section">
      <h1 class="heading">LEGAL DATA</h1>
      <p class="para">Please enter your bank details, as well as your identity card details.</p>
    </div>
    <div class="section-education">
      <h1 class="heading">Bank Details</h1>
    </div>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item class="form-main">
                <ion-label position="floating">Account Holder*</ion-label>
                <ion-input name="account" formControlName="account" type="text" required></ion-input>
              </ion-item>
              <div class="error-fields">
                <div *ngIf="registerForm.get('account').touched && registerForm.get('account').invalid">
                  <p *ngIf="registerForm.get('account').hasError('required')" class="required">
                    Mandatory field.
                  </p>
                </div>
              </div>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">Bank Name*</ion-label>
                <ion-input name="bname" formControlName="bname" type="text" required></ion-input>
              </ion-item>
              <div class="error-fields">
                <div *ngIf="registerForm.get('bname').touched && registerForm.get('bname').invalid">
                  <p *ngIf="registerForm.get('bname').hasError('required')" class="required">
                    Mandatory field.
                  </p>
                </div>
              </div>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">IBAN*</ion-label>
                <ion-input name="iban" formControlName="iban" type="text" required></ion-input>
              </ion-item>
              <div class="error-fields">
                <div *ngIf="registerForm.get('iban').touched && registerForm.get('iban').invalid">
                  <p *ngIf="registerForm.get('iban').hasError('required')" class="required">
                    Mandatory field.
                  </p>
                </div>
              </div>
              <ion-item class="form-main inner-item">
                <ion-label position="floating">BIC</ion-label>
                <ion-input name="bic" formControlName="bic" type="text" required></ion-input>
              </ion-item>
              <div class="error-fields">
                <div *ngIf="registerForm.get('bic').touched && registerForm.get('bic').invalid">
                  <p *ngIf="registerForm.get('bic').hasError('required')" class="required">
                    Mandatory field.
                  </p>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="section-education resume">
        <label class="title-img">UPLOAD DOCUMENT (Add documents,photos and presentations)</label>
        <div class="img-label">
          <div class="img-main">
            <div class="btn-label d-label-1">
              <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload new image
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    <div class="section-education identity">
      <h1 class="heading">Identity Card</h1>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addIdentity()">Add Identity Card</ion-button>
      </div>
    </div>
    <div class="national">
      <ion-item class="section-national">
        <ion-label position="floating">Nationality</ion-label>
        <ion-select name="country" formControlName="country" [interfaceOptions]="customActionSheetOptions">
          <ng-container *ngFor="let country of allCountry; let i = index">
            <ion-select-option [value]="i">{{country}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </div>
    <div class="section-education identity">
      <h1 class="heading">Work as a Freelancer</h1>
      <ion-list>
        <ion-radio-group value="1" name="radio" formControlName="radio">
          <ion-item class="radio-btn-size">
            <ion-label class="font-size">I would like to work as a freelancer</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
          <ion-item class="radio-btn-size">
            <ion-label class="font-size">I do not want to work as a freelancer</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <p class="para para-new">You take on assignments as a Freelancer on the basis of work contracts. For this, a trade
        license
        and a tax number are
        required. The billing is done by invoices based on services rendered.</p>
    </div>
    <div class="section-education identity">
      <h1 class="heading">Work as a Temporary Employee</h1>
      <ion-list>
        <ion-radio-group value="1" name="radio1" formControlName="radio1">
          <ion-item class="radio-btn-size">
            <ion-label class="font-size">I would like to work as a temporary employee</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
          <ion-item class="radio-btn-size">
            <ion-label class="font-size">I do not want to work as a temporary employee</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <p class="para para-new">You will be hired as an employee for the duration of your working days. As an employer,
        we will automatically pay you
        monthly wages based on the hours worked. You don't need a trade license and you don't have to keep your own
        book-keeping/invoices.
      </p>
    </div>
    <div class="btn-section">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="save()" expand="block">Save & Continue </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" expand="block">Continue (Without Saving)</ion-button>
      </div>
    </div>
  </form>
  </div>
<!-- </ion-content> -->