.main {
   padding: 0px 23px;
}

.heading {
   font-weight: 400;
   color: #000;
   font-size: 20px;
   margin-top: 13px !important;
}

.para {
   color: rgba(0, 0, 0, .87);
   font-size: 14px;
   padding: 0px 11px 0 2px;
   margin-bottom: 0px;
}

.section-education {
   .heading {
      font-weight: 400;
      color: #8b8c8e;
      font-size: 18px;
      margin-top: 13px !important;
   }
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
   --padding-start: 4px;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
   --padding-top: 5px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

ion-item.form-main.inner-item {
   margin-top: 4px;
}

.title-img {
   color: #8b8c8e;
   font-size: 10px;
   font-weight: 400;
}

.img-label {
   border: 1px dashed #21b4b0;
   border-radius: 5px;
   padding: 33px;
}

.btn-label.d-label-1 {
   text-align: center;
}

ion-button.inner-btn-new {
   --background: #000000;
}

.section-education.identity {
   margin-top: 26px;
   margin-bottom: 5px;
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}

ion-item.section-national {
   padding: 12px 7px;
   --padding-start: 5px;

   ion-select.md.in-item.hydrated {
      height: 25px;
   }
}

.section-education ion-radio.md.in-item {
   margin-inline-end: 10px;
}

ion-item.radio-btn-size {
   font-size: 14px;
   color: rgba(0, 0, 0, .87);
}

p.para.para-new {
   margin-top: 3px;
   font-size: 11px;
   padding: 0 25px;
}

.btn-section {
   margin-top: 13px;
   margin-bottom: 15px;
   padding: 10px;
}

.btn-second-main {
   margin-top: 12px;
}

ion-button.inner-btn-label {
   --background: black;
}