<ion-content>
  <div class="main">
    <div class="inner-section">
      <h1 class="heading">WELCOME TO OUR WEBSITE!</h1>
      <p class="para">You have passed the first hurdle of registration.</p>
      <p class="para">The second step is to create your profile with us.</p>
      <p class="para">Step by step you can provide us with everything - from references and education to photos for your
        sedcard. The sooner
        your profile is complete, the sooner we can activate you.
      </p>
      <p class="para">You are almost there so let's get started so we can provide you with great jobs.</p>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="dataEntry()">For Data Entry</ion-button>
      </div>
    </div>
    <div class="inner-section">
      <h4 class="inner-heading">SYMBOL & LEGEND</h4>
    </div>
    <div class="edit-section">
      <div class="edit-main">
        <img src="../../assets/pencil.png" class="img-icon" alt="">
      </div>
      <ion-label class="inner-text">Currently in progress.</ion-label>
    </div>
    <div class="edit-section inner-margin">
      <div class="edit-main">
        <img src="../../assets/tick.png" class="img-icon success" alt="">
      </div>
      <ion-label class="inner-text">&nbsp;&nbsp; Data successfully saved.</ion-label>
    </div>
    <div class="edit-section inner-margin">
      <div class="edit-main">
        <img src="../../assets/tick.png" class="img-icon succes-1" alt="">
      </div>
      <ion-label class="inner-text">&nbsp;&nbsp; Data successfully confirmed by agent.</ion-label>
    </div>
    <div class="edit-section inner-margin">
      <div class="edit-main inner-margin">
        <img src="../../assets/high.png" class="img-icon alert" alt="">
      </div>
      <ion-label class="inner-text">&nbsp;&nbsp; Data rejected by agent, possibly incomplete.</ion-label>
    </div>
    <div class="edit-section inner-margin">
      <div class="edit-main inner-margin">
        <img src="../../assets/lock.png" class="img-icon show-dark" alt="">
      </div>
      <ion-label class="inner-text">&nbsp;&nbsp; Processing is currently not possible.</ion-label>
    </div>

    <div class="logout-section">
      <h4 class="logout-heading" (click)="logout()">Logout</h4>
    </div>
  </div>
</ion-content>