.main {
   padding: 25px;
   padding-top: 7px;

   h1.heading {
      color: #000;
      font-weight: 400;
      font-size: 20px;
   }

   p.para {
      color: rgba(0, 0, 0, .87);
      font-size: 12px;
   }
}

ion-button.inner-btn-save {
   --background: black;
}

h4.inner-heading {
   color: #8b8c8e;
   font-size: 21px;
}

h4.inner-heading {
   color: rgba(0, 0, 0, .87);
   font-size: 18px;
   margin-top: 30px;
}

.edit-section {
   display: flex;
   margin-top: 21px;
   align-items: center;
}

img.img-icon {
   background: #000;
   border-radius: 50%;
   padding: 8px 8px;
   width: 78%;
}

ion-label.inner-text {
   color: rgba(0, 0, 0, .87);
   font-size: 15px;
}

.edit-section.inner-margin {
   margin-top: 6px;
}

img.img-icon.success {
   background: #21b4b0;
   width: 100%;
}

img.img-icon.succes-1 {
   background: #8ae2e0;
   width: 100%;
}

img.img-icon.alert {
   background: #d44;
   width: 100%;
}

img.img-icon.show-dark {
   background: #999;
   width: 100%;
}