<ion-content>
  <app-back-button label="auth.reset.buttons.back"></app-back-button>
  <div class="main">
    <h1 class="heading">IMPRESSUM</h1>
    <h2 class="heading">KONTAKT</h2>
    <ion-item class="ion-no-padding">
      <div class="col-md-4">
        <p class="paragraph">AMPLOI ist eine Marke der<br>
          elevate staffing GmbH</p>
        <p class="paragraph">Stubenrauchstr. 72</p>
        <p class="paragraph">12161 Berlin</p>
      </div>
      <div class="col-md-4">
        <p class="paragraph">
          Telefon +49 (0) 30 30 30 71 56<br>
          Fax +49 (0) 30 41 76 29 22
        </p>
        <p>
          <a href="mailto:info@amploi.de" title="info@amploi.de">info@amploi.de</a>
        </p>
      </div>
      <ion-item lines="none" class="ion-no-padding">
        <p class="paragraph">Geschäftsführer:<br>
          Jonas Willuhn</p>
        <p class="paragraph">Amtsgericht Berlin-Charlottenburg<br>
          HRB: 177639B<br>
          Ust-Ident-Nr. DE307276029</p>
      </ion-item>
    </ion-item>
    <h2 class="heading">RECHTLICHES</h2>
    <h5 class="heading inner-head" head-5>1. INHALT DES ONLINEANGEBOTES</h5>
    <p class="paragraph">elevate staffing übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit
      oder Qualität der
      bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder
      ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die
      Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen,
      sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle
      Angebote sind freibleibend und unverbindlich. elevate staffing behält es sich ausdrücklich vor, Teile der Seiten
      oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die
      Veröffentlichung zeitweise oder endgültig einzustellen.
    </p>
    <h5 class="heading inner-head" head-5>2. VERWEISE UND LINKS</h5>
    <p class="paragraph">Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"), die außerhalb des
      Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft
      treten, in dem elevate staffing von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre,
      die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
    </p>
    <p class="paragraph">elevate staffing erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine
      illegalen Inhalte auf den
      zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die
      Urheberschaft der verlinkten/verknüpften Seiten hat elevate staffing keinerlei Einfluss. Deshalb distanziert er
      sich hiermit ausdrücklich von allen Inhalten aller verlinkten /verknüpften Seiten, die nach der Linksetzung
      verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und
      Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen,
      Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich
      sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung
      oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf
      welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
    </p>
    <h5 class="heading inner-head" head-5>3. URHEBER- UND KENNZEICHENRECHT</h5>
    <p class="paragraph">elevate staffing ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder,
      Grafiken,
      Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente,
      Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte
      zurückzugreifen.
    </p>
    <p class="paragraph">Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und
      Warenzeichen
      unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der
      jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass
      Markenzeichen nicht durch Rechte Dritter geschützt sind! Das Copyright für veröffentlichte, vom Autor selbst
      erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken,
      Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne
      ausdrückliche Zustimmung des Autors nicht gestattet.
    </p>
    <h5 class="heading inner-head" head-5>4 DATENSCHUTZ</h5>
    <p class="paragraph">Die aktuelle Datenschutzerklärung kann <a (click)="privacyClick()"><u>hier</u></a> eingesehen
      und ausgedruckt
      werden.
    </p>
    <h5 class="heading inner-head" head-5>5. RECHTSWIRKSAMKEIT DIESES HAFTUNGSAUSSCHLUSSES</h5>
    <p class="paragraph">Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf
      diese Seite verwiesen
      wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder
      nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer
      Gültigkeit davon unberührt.
    </p>
  </div>
</ion-content>