.main {
   padding: 25px;
   padding-top: 7px;
}

.heading {
   font-size: 20px;
   margin-top: 6px;
}

.paragraph {
   color: #665353;
}

h5.heading.inner-head {
   font-size: 17px !important;
   color: #3a3131;
   margin-top: 17px !important;
}