<ion-header class="header">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <div class="main-header">
      <ion-segment class="certificate-segment" mode="md" (ionChange)="segmentChanged($event)"
        [(ngModel)]="selectedSegment">
        <ion-segment-button value="matched">
          <ion-icon name="heart"></ion-icon>
          <ion-label>{{ 'jobs.matched' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="invited">
          <ion-icon name="open-outline"></ion-icon>
          <ion-label>{{ 'jobs.invited' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="offers">
          <ion-icon name="open-outline"></ion-icon>
          <ion-label>{{ 'jobs.offers' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="unmatched">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          <ion-label>{{ 'jobs.unmatched' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="filterOpened" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ion-arrow-down-b positive"
      pullingText="{{ 'common.pull-to-refresh' | translate }}" refreshingSpinner="crescent"
      refreshingText="{{ 'common.refreshing' | translate }}"></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="selectedSegment !== 'offers'">
    <app-filter *ngIf="filters" [filters]="filters" [context]="context" (on-apply)="filter($event)"
      (filter-opened)="onFilterOpened($event)"></app-filter>
  </ng-container>

  <ng-container *ngIf="selectedSegment === 'offers'">
    <app-applied-filter *ngIf="filters" [filters]="filters" [context]="context" (on-apply)="filter($event)"
      (filter-opened)="onFilterOpened($event)"></app-applied-filter>
  </ng-container>

  <ion-list lines="none" *ngIf="items && items.length">
    <ng-container *ngIf="selectedSegment !== 'offers'">
      <app-job-card *ngFor="let job of items" [job]="job" (removed)="onRemove($event)" (changed)="onChange($event)">
      </app-job-card>
    </ng-container>
    <ng-container *ngIf="selectedSegment === 'offers'">
      <app-job-applied *ngFor="let offers of items" [offers]="offers" (removed)="onRemove($event)"
        (changed)="onChange($event)"></app-job-applied>
    </ng-container>
    <ion-infinite-scroll (ionInfinite)="loadData($event, items, 10)" [disabled]="!moreItems">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{ 'common.fetching-data' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <app-nothing-found *ngIf="items && !items.length" icon="happy-outline" [context]="context + '.nothing-found'"
    [redirect]="context === 'offers' ? 'jobs:matched' : 'certificates:all'"></app-nothing-found>
</ion-content>