.login-container {
   .log_img {
      margin: 0px auto;
   }

   .map_img {
      height: auto;
      margin: 0px auto;
   }

   .select_language {
      width: 70%;
      border: 2px solid var(--ion-color-primary-shade) !important;
      border-radius: 5px;
      margin: 0px auto;
   }

   .btn_login {
      background-color: #000;
      width: 73%;
      margin: 0px auto;
      height: 50px;
   }

   ion-select {
      width: 100%;
      height: 50px;
   }

   ion-select::part(icon) {
      color: var(--ion-color-primary-shade) !important;
   }
}


.log_img {
   margin: 0px auto;
}

.map_img {
   height: auto;
   margin: 0px auto;
}

.login_lbl {
   width: 100%;
   text-align: center;
}

.input {
   height: 2rem;
   margin: 0rem 1rem;
}

.item {
   min-height: 0.5rem;
   max-height: 8rem;
}

.btn_login {
   background-color: black;
}

ion-item.item-interactive.item-input {
   border: 1px solid #ccc !important;
   border-radius: 4px;
}

ion-button.btn_login.ion-color {
   border-radius: 4px;
   background-color: var(--ion-color-primary);
}

ion-button.btn_second_login.ion-color {
   border-radius: 4px;
   background-color: #444;
}
