<ion-content class="login-container ion-padding">
  <ion-row>
    <ion-col col-12>
      <ion-item lines="none">
        <img src="../../../assets/img/Elevate_Logo-02.png" class="log_img" alt="logo" />
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isSelected">
    <ion-col class="flex-center">
      <img src="../../../assets/img/Elevate_Global Map.png" alt="logo" class="map_img" />
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 2rem;">
    <ion-col>
      <ion-item class="select_language" lines="none">
        <ion-select placeholder="Select Language" [value]="['en']" value="selectLanguage"
          (ionChange)="changeOption($event)">
          <ion-select-option [value]="'en'">English</ion-select-option>
          <ion-select-option [value]="'de'">German</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngIf="isSelected">
 
    <form #local="ngForm" style="margin-top: 15%;">
      <ion-row class="ion-margin">
        <ion-label class="login_lbl">
          <h1><b>Log in</b></h1>
        </ion-label>
      </ion-row>
  
  
      <ion-row class="ion-margin">
        <ion-col>
          <ion-item lines="none">
            <ion-input type="email" name="email" [(ngModel)]="credentials.email"
              placeholder="{{ 'auth.login.email-placeholder' | translate }}" clearOnEdit="false" required="true">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
  
      <ion-row class="ion-margin">
        <ion-col>
          <ion-item lines="none">
            <ion-input type="password" name="password" [(ngModel)]="credentials.password"
              placeholder="{{ 'auth.login.password-placeholder' | translate }}" clearOnEdit="false" required="true"
              #password>
            </ion-input>
            <ion-icon slot="end" *ngIf="!isShowPassword" (click)="showPassword()" class="show-password"
              name="eye-outline"></ion-icon>
            <ion-icon *ngIf="isShowPassword" slot="end" class="show-password" name="eye" (click)="showPassword()">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-margin">
        <ion-col>
          <ion-button class="btn_login" (click)="login()" expand="full" strong="true" color="button-primary" fill="solid"
            type="submit" [disabled]="!local.form.valid">
            {{ 'auth.login.button' | translate }}</ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button (click)="forgotPasswordAction()" fill="clear" expand="full"> {{ 'auth.login.password-forgotten' | translate }}</ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row  class="ion-margin" (click)="gotoRegister()">
        <ion-col>
          <ion-button  class="btn_second_login" expand="full" strong="true" color="button-primary" fill="solid">
            {{ 'auth.register.buttonlink' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
  
    </form>
  </div>

</ion-content>