<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Training Details</ion-title>
    <ion-buttons slot="start" color="danger">
      <ion-button class="back-btn" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>