<ion-header class="header">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-segment class="certificate-segment" mode="md" (ionChange)="segmentChanged($event)"
      [(ngModel)]="selectedSegment">
      <ion-segment-button value="all">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>{{ 'certificates.tabs.all' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mine">
        <ion-icon name="heart"></ion-icon>
        <ion-label>{{ 'certificates.tabs.mine' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="exclusive">
        <ion-icon name="flame"></ion-icon>
        <ion-label>{{ 'certificates.tabs.exclusive' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher [disabled]="filterOpened" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ion-arrow-down-b positive"
      pullingText="{{ 'common.pull-to-refresh' | translate }}" refreshingSpinner="crescent"
      refreshingText="{{ 'common.refreshing' | translate }}"></ion-refresher-content>
  </ion-refresher>

  <app-filter *ngIf="filters" [filters]="filters" context="certificates" (on-apply)="filter($event)"
    (filter-opened)="onFilterOpened($event)">
  </app-filter>

  <div *ngIf="selectedSegment == 'all'">
    <ion-list *ngIf="items && items.length">
      <ion-card *ngFor="let certificate of items" class="ion-text-wrap" tappable
        (click)="showDetails(certificate.id, certificate.exam_result && certificate.exam_result.passed)">
        <div class="data-block">
          <ion-thumbnail>
            <img src="../../assets/img/placeholder.png" alt="">
          </ion-thumbnail>
          <div>
            <div class="details-block">
              <h3 head-3 class="ion-text-nowrap">{{ certificate?.name }}</h3>
              <p>{{ certificate?.teaser }}</p>
            </div>
            <div>
              <ion-row color="light" class="footer">
                <ion-col size="6">
                  <ion-icon name="pricetag" size="medium"></ion-icon>
                  {{ 'certificates.categories.' + certificate.category |
                  translate }}
                </ion-col>
                <ion-col>
                  <ion-button *ngIf="certificate.job_count_by_tenders > 0" class="jobs" fill="clear" size="small">
                    {{ 'certificates.card.jobs' | translate : certificate }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-list>
    <app-nothing-found *ngIf="items && !items.length" icon="happy-outline"
      context="certificates.nothing-found.{{selectedSegment}}"></app-nothing-found>
  </div>
  <div *ngIf="selectedSegment == 'mine'">
    <ion-list *ngIf="items && items.length">
      <ion-card *ngFor="let certificate of items" class="ion-text-wrap" tappable
        (click)="showDetails(certificate.id, certificate.exam_result && certificate.exam_result.passed)">
        <div class="data-block">
          <ion-thumbnail>
            <img src="../../assets/img/placeholder.png" alt="">
          </ion-thumbnail>
          <div>
            <div class="details-block">
              <h3 head-3 class="ion-text-nowrap">{{ certificate?.name }}</h3>
              <p>{{ certificate?.teaser }}</p>
            </div>
            <div>
              <ion-row color="light" class="footer">
                <ion-col size="6">
                  <ion-icon name="pricetag" size="medium"></ion-icon>
                  {{ 'certificates.categories.' + certificate.category |
                  translate }}
                </ion-col>
                <ion-col>
                  <ion-button *ngIf="certificate.job_count_by_tenders > 0" class="jobs" fill="clear" size="small">
                    {{ 'certificates.card.jobs' | translate : certificate }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-list>
    <app-nothing-found *ngIf="items && !items.length" icon="happy-outline"
      context="certificates.nothing-found.{{selectedSegment}}"
      redirect="{{selectedSegment === 'mine' ? 'certificates:all' : undefined}}"></app-nothing-found>
  </div>
  <div *ngIf="selectedSegment == 'exclusive'">
    <ion-list *ngIf="items && items.length">
      <ion-card *ngFor="let certificate of items" class="ion-text-wrap" tappable
        (click)="showDetails(certificate.id, certificate.exam_result && certificate.exam_result.passed)">
        <div class="data-block">
          <ion-thumbnail>
            <img src="../../assets/img/placeholder.png" alt="">
          </ion-thumbnail>
          <div>
            <div class="details-block">
              <h3 head-3 class="ion-text-nowrap">{{ certificate?.name }}</h3>
              <p>{{ certificate?.teaser }}</p>
            </div>
            <div>
              <ion-row color="light" class="footer">
                <ion-col size="6">
                  <ion-icon name="pricetag" size="medium"></ion-icon>
                  {{ 'certificates.categories.' + certificate.category |
                  translate }}
                </ion-col>
                <ion-col>
                  <ion-button *ngIf="certificate.job_count_by_tenders > 0" class="jobs" fill="clear" size="small">
                    {{ 'certificates.card.jobs' | translate : certificate }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-list>
    <app-nothing-found *ngIf="items && !items.length" icon="happy-outline"
      context="certificates.nothing-found.{{selectedSegment}}"></app-nothing-found>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event, items, 10)" [disabled]="!moreItems">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{ 'common.fetching-data' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>