.header {

   ion-toolbar,
   .toolbar-container {
      --ion-toolbar-background: #bcede8 !important;
   }

   .certificate-segment {
      height: 56px;

      ion-segment-button {
         --color-checked: var(--ion-color-primary) !important;
         --background-checked: unset !important;
         --color: var(--text-color);
         text-transform: capitalize;
         box-shadow: unset !important;
         --box-shadow: unset !important;
         --border-width: 0;
         --indicator-color: transparent !important;
         --indicator-color-checked: transparent !important;

         ion-icon {
            font-size: 20px;
         }

         ion-label {
            font-size: 9px;
         }
      }
   }
}

ion-card {
   // @include ion-card-p4y;
   border: solid #ccc 1px;
   margin: 10px;
   width: calc(100% - 20px);

}

.data-block {
   display: flex;

   ion-thumbnail {
      height: 110px;
      min-width: 80px !important;
      margin-right: 20px;

      img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100% !important;
         width: 90px !important;
         object-fit: contain;
      }
   }


   .details-block {
      h3 {
         margin: 2px 0;
         font-size: 1.4rem;
         font-weight: normal;
         line-height: normal;
      }

      p {
         font-size: 13px;
         margin: 0 0 2px;
         overflow: inherit;
         line-height: normal;
         text-overflow: inherit;
      }
   }

   .footer {
      position: absolute;
      bottom: 0;
      width: calc(100% - 105px);
      font-size: 14px;
   }

   .jobs {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: var(--ion-color-gray);
      text-transform: none;
      color: #fff;
   }
}