.button-inner {
   text-transform: none;
}

ion-icon {
   font-size: 30px;
}

ion-content {
   margin-top: -10px;
   margin-bottom: 10px;

   button {
      padding-left: 0;
   }
}

ion-icon.ios.hydrated {
   padding-right: 4px;
}

.main {
   padding: 25px;
   padding-top: 7px;
}

.inner-section {
   .para {
      color: rgba(0, 0, 0, .87);
      font-size: 14px;
   }

   .heading {
      font-weight: 400;
      color: #000;
      font-size: 21px;
      margin-top: 14px !important;
   }

   a.links {
      font-size: 13px;
      text-decoration: none;
   }

   .good-link {
      display: flex;
      align-items: center;
   }

   ion-icon {
      font-size: 19px;
      margin-top: 2px;
   }

   a:hover {
      text-decoration: underline;
   }
}

.title-img {
   color: #8b8c8e;
   font-size: 16px;
   font-weight: 400;
}

.img-label {
   border: 1px dashed #21b4b0;
}

.btn-photos {
   text-align: end;
   padding: 2px 6px;
}

ion-button.inner-btn-save {
   --background: #4faec7;
}

.btn-label {
   position: absolute;
   text-align: center;
   width: 100%;
   top: 50%;
}

ion-button.inner-btn-new {
   --background: #000000;
}

.d-label-block {
   display: none;
}

.d-label-1 {
   display: none;
}

.d-label {
   display: block;
}

.notes-main {
   h4.notes-heading {
      font-size: 17px;
   }

   .para {
      color: rgba(0, 0, 0, .87);
      font-size: 14px;
      padding: 0px 11px 0 2px;
   }

   ul.list-ul-main {
      font-size: 14px;
      padding: 0px 10px 1px 27px;
   }
}

h4.inner-heading {
   color: #8b8c8e;
   font-size: 21px;
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

ion-item.form-main.inner-item {
   margin-top: 10px;
}

.btn-section {
   padding: 12px;
}

.btn-second-main {
   margin-top: 12px;
}

ion-button.inner-btn-label {
   --background: black;
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}

ion-item.form-main {
   --padding-start: 0;
}

.form-main ion-select.md.in-item.hydrated {
   height: 27px;
}