<!-- <ion-content> -->
  <!-- <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button> -->
  <div class="main">
    <div class="inner-section">
      <h1 class="heading">PHOTOS & SIZING INFO</h1>
      <div class="good-link">
        <div class="icon-min">
          <ion-icon name="information-circle"></ion-icon>
        </div>
        <a class="links" href="#">Good Photo Example</a>
      </div>
      <p class="para">Please make sure your photos have a minimum resolution of 150dpi and are in portrait format. The
        minimum resolution is
        600 x 400 pixels. The maximum file size is 32MB. You cannot change the images for your sedcard after we have
        selected
        them.</p>
    </div>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <label class="title-img">Portrait Photo</label>
          <div class="img-label">
            <div class="btn-photos">
              <ion-button size="small" (click)="newImages()" class="inner-btn-save" slot="end">Sedcard Photo
              </ion-button>
            </div>
            <div class="img-main">
              <div class="btn-label d-label-block">
                <ion-button size="small" (click)="newImages()" class="inner-btn-new" slot="end">Upload new image
                </ion-button>
              </div>
              <img (click)="imgUpload()" class="img-event" src="http://3.127.178.10/assets/images/photo-profile-f.svg"
                alt="img">
            </div>
          </div>
        </ion-col>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <label class="title-img">Full body Photo</label>
          <div class="img-label">
            <div class="btn-photos">
              <ion-button size="small" class="inner-btn-save" slot="end">Sedcard Photo
              </ion-button>
            </div>
            <div class="img-main">
              <div class="btn-label d-label-block">
                <ion-button size="small" class="inner-btn-new" slot="end">Upload new image
                </ion-button>
              </div>
              <img class="img-event" src="http://3.127.178.10/assets/images/photo-body-f.svg" alt="img">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="notes-main">
      <h4 class="notes-heading">NOTES ON PHOTOS</h4>
      <p class="para">When taking a full body picture, it is important that you are pictured from head to toe.</p>
      <div class="list-notes">
        <ul class="list-ul-main">
          <li>Ideally neutral clothing.</li>
          <li>If there is a significant change in appearance, please update the pictures immediately.</li>
          <li>All photos in color.</li>
          <li>Only photos where you are alone.</li>
          <li>No selfies or photos in front of the mirror, these look very unprofessional and are usually of poor
            quality.</li>
          <li>No heavily edited photos, Photoshop and Co. are undesirable.</li>
          <li>Be careful with permissiveness, do not upload too permissive pictures, otherwise it looks unserious.</li>
          <li>No party or group pictures, no alcoholic drinks, cigarettes, etc.</li>
          <li>No hats, sunglasses or other things that cover the face.</li>
        </ul>
      </div>
      <p class="para">When using professional pictures:</p>
      <div class="list-notes">
        <ul class="list-ul-main">
          <li>Only upload photos that do not violate copyright laws.</li>
          <li>Permission must be obtained from the photographer.</li>
        </ul>
      </div>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <label class="title-img">Other Photo</label>
            <div class="img-label">
              <div class="img-main">
                <div class="btn-label d-label-1">
                  <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload new image
                  </ion-button>
                </div>
                <img (click)="uploadLoad()" class="img-event" src="http://3.127.178.10/assets/images/photo-body-f.svg"
                  alt="img">
              </div>
            </div>
          </ion-col>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <label class="title-img">Other Photo</label>
            <div class="img-label">
              <div class="img-main">
                <div class="btn-label d-label-1">
                  <ion-button size="small" class="inner-btn-new" slot="end">Upload new image
                  </ion-button>
                </div>
                <img class="img-event" src="http://3.127.178.10/assets/images/photo-body-f.svg" alt="img">
              </div>
            </div>
          </ion-col>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <label class="title-img">Other Photo</label>
            <div class="img-label">
              <div class="img-main">
                <div class="btn-label d-label-1">
                  <ion-button size="small" class="inner-btn-new" slot="end">Upload new image
                  </ion-button>
                </div>
                <img class="img-event" src="http://3.127.178.10/assets/images/photo-body-f.svg" alt="img">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="inner-section">
      <h4 class="inner-heading">Sizing Information</h4>
      <ion-grid>
        <ion-row color="primary" justify-content-center class="main-row">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item class="form-main">
                <ion-label position="floating">Height</ion-label>
                <ion-input name="height" type="text" required></ion-input>
              </ion-item>
              <ion-item class="form-main  inner-item">
                <ion-label position="floating">Chest</ion-label>
                <ion-input name="chest" type="text" required></ion-input>
              </ion-item>
              <ion-item class="form-main  inner-item">
                <ion-label position="floating">Waist</ion-label>
                <ion-input name="waist" type="text" required></ion-input>
              </ion-item>
              <ion-item class="form-main  inner-item">
                <ion-label position="floating">Hip</ion-label>
                <ion-input name="hip" type="text" required></ion-input>
              </ion-item>
              <ion-item class="form-main">
                <ion-label position="floating">T-Shirt</ion-label>
                <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                  <ion-select-option value="f">Select</ion-select-option>
                  <ion-select-option value="m">XXS</ion-select-option>
                  <ion-select-option value="d">XS</ion-select-option>
                  <ion-select-option value="m">S</ion-select-option>
                  <ion-select-option value="d">M</ion-select-option>
                  <ion-select-option value="m">L</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-main">
                <ion-label position="floating">Pant</ion-label>
                <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                  <ion-select-option value="f">Select</ion-select-option>
                  <ion-select-option value="m">XS</ion-select-option>
                  <ion-select-option value="d">S</ion-select-option>
                  <ion-select-option value="m">M</ion-select-option>
                  <ion-select-option value="d">L</ion-select-option>
                  <ion-select-option value="m">XL</ion-select-option>
                  <ion-select-option value="m">XXL</ion-select-option>
                  <ion-select-option value="m">XXXL</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-main  inner-item">
                <ion-label position="floating">Hair Color</ion-label>
                <ion-input name="hair" type="text" required></ion-input>
              </ion-item>
              <ion-item class="form-main  inner-item">
                <ion-label position="floating">Shoe Size</ion-label>
                <ion-input name="shoe" type="text" required></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="btn-section">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="saveNext()" expand="block">Save & Continue
        </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" expand="block">Continue (Without Saving)</ion-button>
      </div>
    </div>
  </div>
<!-- </ion-content> -->