<div *ngIf="tender" class="tender-item container">
  <h3 *ngIf="tender.job" class="ion-text-nowrap" head-3>{{ tender.job.title }}</h3>
  <p *ngIf="tender.client">{{ tender.client.name }}</p>
  <ion-row class="head">
    <ion-col>
      <div class="category" *ngIf="tender.category">
        <ion-icon name="pricetag"></ion-icon>
        <span>{{ 'common.categories.' + tender.category | translate }}</span>
      </div>
    </ion-col>
    <ion-col>
      <div class="category" *ngIf="tender.contract_type_identifier">
        <ion-icon name="newspaper"></ion-icon>
        <span>{{ 'common.contract_types.' + tender.contract_type_identifier | translate }}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="schedule" color="light">
    <ion-col size="12" size="normal">
      <ion-icon name="calendar-outline" size="medium"></ion-icon>
      <span *ngIf="!tender.count">{{ tender.start_at | date : 'dd MMMM YYYY' }}</span>
      <span *ngIf="tender.count && tender.count.done === 1">{{ tender.range.dates.start | date : 'dd MMMM
        YYYY' }}</span>
      <span *ngIf="tender.count && tender.count.done > 1">{{ 'jobs.dates' | translate : {
        number: tender.count.done,
        start: (tender.range.dates.start | date : 'dd MMM'),
        end: (tender.range.dates.end | date : 'dd MMM YYYY')
        } }}</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-icon name="time" size="medium"></ion-icon>
      {{ tender.start_time }} - {{ tender.finish_time }}
    </ion-col>
    <ion-col size="6" class="ion-text-right"
      *ngIf="!tender.count || (tender.count && (tender.count.done === 1 || tender.range))">
      <span *ngIf="tender.range">
        {{ tender.range.rates.sum.min | currency }}
        {{ (tender.range.rates.sum.min !== tender.range.rates.sum.max) ? ' - ' + (tender.range.rates.sum.max |
        currency) : '' }}
      </span>
      <span *ngIf="!tender.range">
        {{ tender.daily_rate_min | currency }}
        {{ (tender.daily_rate_min !== tender.daily_rate_max) ? ' - ' + (tender.daily_rate_max | currency) : ''
        }}
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-nowrap" class="long" *ngIf="tender.site">
      <ion-icon name="home-outline" size="medium"></ion-icon>
      {{ tender.site.name + (tender.site.number ? ' | '+ tender.site.number : '') }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-nowrap" *ngIf="tender.site">
      <ion-icon name="pin-outline" size="medium"></ion-icon>
      {{ tender.site.zip + ' ' + tender.site.city + ', ' + tender.site.address }}
    </ion-col>
  </ion-row>

  <ion-icon name="alert-circle-outline" *ngIf="tender.warning"></ion-icon>
</div>