.tender-item  {
   /* for job-card copied content as well */
   margin: 0 15px;
   border: 1px solid #ccc !important;
   padding: 16px;

   h3,
   p {
      margin: 2px 0;
      width: 100%;
      display: block;
   }

   ion-row {
      font-size: 13px;

      .schedule {
         margin-top: 10px;

         ion-col {
            padding-left: 0;
         }
      }
   }

   .label-md,
   .label-ios {
      margin: 5px 8px 5px 0;
   }

   ion-icon {
      margin-right: 5px;
   }

   ion-icon[name="warning"] {
      color: var(--ion-color-danger);
      position: absolute;
      right: 10px;
      bottom: 10px;
   }

   .category {
      margin-top: 10px;
      color: var(--text-color);
   }

   .head {
      color: var(--text-color);
   }
}