<ion-header class="main-header">
  <ion-toolbar>
    <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
      <ion-icon name="arrow-back-outline" color="primary" class="min-icon"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main">
    <div class="section-first" *ngFor="let refer of referal">
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main title-chk">
                  <ion-label position="floating">Name of the Person*</ion-label>
                  <ion-input name="name" formControlName="name" type="text" required></ion-input>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('name').touched && registerForm.get('name').invalid">
                    <p *ngIf="registerForm.get('name').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main">
                  <ion-label position="floating">Relationship Role*</ion-label>
                  <ion-select formControlName="reletionship_role" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                    <ng-container *ngFor="let refrence of allReferences">
                      <ion-select-option [value]="refrence.value">{{refrence.name}}</ion-select-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
                <div class="error-fields">
                  <div *ngIf="registerForm.get('reletionship_role').touched && registerForm.get('reletionship_role').invalid">
                    <p *ngIf="registerForm.get('reletionship_role').hasError('required')" class="required">
                      Mandatory field.
                    </p>
                  </div>
                </div>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Email Address of the Referral</ion-label>
                  <ion-input name="email" formControlName="email" type="text" required></ion-input>
                </ion-item>
                <ion-item class="form-main inner-item">
                  <ion-label position="floating">Contact number of the referral</ion-label>
                  <ion-input name="number" formControlName="number" type="text" required></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="section-education role">
          <div class="checkbox-main">
            <ion-checkbox class="check-text" type="checkbox"></ion-checkbox>
            <div class="check-section">
              <ion-label class="inner-text">&nbsp; Please your consent, to contact the referal
                for verification by our team</ion-label>
            </div>
          </div>
        </div>
        <div class="section-education resume">
          <label class="title-img">Upload Document (e.g. certificate, job reference)</label>
          <div class="img-label">
            <div class="img-main">
              <div class="btn-label d-label-1">
                <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload Document
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="deleteReference(refer)" slot="end">Delete</ion-button>
        </div>
      </div>
    </div>
    <div class="btn-section add-more">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="save()" expand="block">Save </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addMoreReferences()" slot="end">Add Reference</ion-button>
      </div>
    </div>
  </div>

</ion-content>