.main-header {
   ion-toolbar.md.in-toolbar.hydrated {
      --background: #21b4b0;
   }

   ion-button.back-btn {
      color: #fff;
   }
}

.main {
   padding: 25px;
   padding-top: 7px;
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
}

.title-chk {
   --padding-start: 4px;
}

ion-item.form-main.inner-item {
   margin-top: 10px;
   --padding-start: 4px;
}

.form-main ion-select.md.in-item.hydrated {
   height: 27px;
}

ion-item.form-main {
   --padding-start: 0;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

ion-item.form-main.inner-item {
   margin-top: 10px;
   --padding-start: 4px;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
   --padding-top: 5px;
}

ion-item.form-main.inner-item {
   margin-top: 10px;
   --padding-start: 4px;
}

.section-education.resume {
   margin-top: 20px;
}

.title-img {
   color: #8b8c8e;
   font-size: 12px;
   font-weight: 400;
}

.img-label {
   border: 1px dashed #21b4b0;
   border-radius: 5px;
   padding: 33px;
}

.btn-label.d-label-1 {
   text-align: center;
}

ion-button.inner-btn-new {
   --background: #000000;
}

.inner-btn-label{
   --background: #000000;
}

.btn-section {
   margin-top: 10px;
   text-align: end;
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}

.btn-section.add-more {
   text-align: start;
}

.section-education.role {
   margin-top: 25px;
   margin-bottom: 12px;
}

.checkbox-main {
   align-items: center;
   display: flex;
   padding: 5px 2px;
}

ion-checkbox.check-text.md.interactive.hydrated {
   --size: 14px;
}

ion-label.inner-text {
   font-size: 10px;
}