.main {
   padding: 25px;
   padding-top: 7px;
}

.heading {
   font-weight: 400;
   color: #000;
   font-size: 21px;
   margin-top: 14px !important;
}

.para {
   color: rgba(0, 0, 0, .87);
   font-size: 14px;
   padding: 0px 11px 0 2px;
   margin-bottom: 0px;
}

.bottom-text {
   color: #8b8c8e;
   font-size: 16px;
   margin-top: 6px;
   font-weight: 400;
}

.section-education {
   .heading {
      font-weight: 400;
      color: #8b8c8e;
      font-size: 21px;
      margin-top: 14px !important;
   }

   b.highest {
      text-decoration: underline;
   }
}

::ng-deep .text-editor {
   .angular-editor-textarea {
      margin-top: 0px !important;
   }

   .angular-editor-textarea {
      min-height: 119px !important;
   }
}

ion-button.inner-btn-save {
   --background: #fff;
   --color: #21b4b0;
   border: 1px solid #21b4b0;
   border-radius: 5px;
}

.btn-section {
   margin-top: 10px;
}

.section-education.lang {
   margin-top: 15px;
}

ion-item.form-main.inner-item {
   --padding-start: 0;
   padding-right: 20px;
   width: 100%;
}

ion-item.form-main.item-interactive.item-input.item.md.hydrated.item-label.item-label-floating {
   --min-height: 40px !important;
}

.item-label-floating .sc-ion-input-md-h {
   --padding-bottom: 2px;
}

.label-floating.sc-ion-label-md-h {
   color: #8b8c8e;
}

::ng-deep .form-main {
   ion-select.md.in-item {
      padding-bottom: 0;
   }
}

ion-button.inner-btn-new {
   --background: #000000;
}

.title-img {
   color: #8b8c8e;
   font-size: 12px;
   font-weight: 400;
}

.img-label {
   border: 1px dashed #21b4b0;
   border-radius: 5px;
   padding: 33px;
}

.btn-label.d-label-1 {
   text-align: center;
}

ion-button.inner-btn-label {
   --background: black;
}

.btn-second-main {
   margin-top: 12px;
}

.btn-main {
   margin-top: 18px;
}

.trash {
   position: absolute;
   right: 22px;
   margin-top: 25px;
}

.custom-lang {
   display: flex;
   justify-content: center;
   align-items: center;
}

ion-icon.icon-trsh.md.hydrated {
   color: #8b8c8e;
}