<!-- <ion-content>
  <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button> -->
  <div class="main">
    <div class="inner-section">
      <h1 class="heading">QUALIFICATION & TRAINING</h1>
      <p class="para">Please provide references for your current and previous jobs. You can also upload your references
        and certificates here.
      </p>
      <h4 class="bottom-text">About You / Personal Statement</h4>
      <div class="text-editor">
        <angular-editor [config]="editorConfig" [(ngModel)]="htmlContent"></angular-editor>
      </div>
    </div>
    <div class="section-education">
      <h1 class="heading">Education</h1>
      <p class="para">If you have attended formal education that could be of interest to us, please enter the <b
          class="highest">highest level of education</b> here
        and upload the relevant certificates.
      </p>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button (click)="addEducation()" class="inner-btn-save">Add Education</ion-button>
      </div>
    </div>
    <div class="section-education">
      <h1 class="heading">Training & External Certification</h1>
      <p class="para">If you have attend any training and/or completed any professional certification, that would be of
        interest to us, please
        enter the details here and upload the relevant certificates
      </p>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addTraining()">Add Training</ion-button>
      </div>
    </div>
    <div class="section-education lang">
      <h1 class="heading">Languages</h1>
      <p class="para">I only enter languages that you speak fluently.</p>
      <div class="custom-lang" *ngFor="let i of lang">
        <ion-item class="form-main inner-item append-data">
          <ion-label *ngIf="i === 0" position="floating">Mother Tongue*</ion-label>
          <ion-label *ngIf="i !== 0" position="floating">Other Language</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
            <ng-container *ngFor="let lang of languages">
              <ion-select-option [value]="lang.value">{{lang.name}}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <div class="trash" *ngIf="i !== 0">
          <ion-icon name="trash" class="icon-trsh" (click)="delete(i)"></ion-icon>
        </div>
      </div>
    </div>
    <div class="btn-section">
      <div class="btn-second-main">
        <ion-button (click)="addNewLanguage()" class="inner-btn-save">Add Language</ion-button>
      </div>
    </div>
    <div class="section-education resume">
      <h1 class="heading">Upload Resume</h1>
      <label class="title-img">Please Upload Resume here.</label>
      <div class="img-label">
        <div class="img-main">
          <div class="btn-label d-label-1">
            <ion-button size="small" (click)="imagesNew()" class="inner-btn-new" slot="end">Upload new image
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-section">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="saveNext()" expand="block">Save & Continue
        </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" expand="block">Continue (Without Saving)</ion-button>
      </div>
    </div>
  </div>
<!-- </ion-content> -->