<ion-card tappable (click)="showDetails()" [ngClass]="status.class" class="ion-padding">
  <ion-item-sliding #slidingItem>
    <div class="tender-item">
      <ion-row class="head">
        <ion-col size="12">
          <h3 class="main-headin">{{ job?.job_name }}</h3>
        </ion-col>
      </ion-row>
      <div class="list-card">
        <p class="ion-text-nowrap">{{ job?.client_name }}</p>
        <p class="code_title">{{ job?.job_code }}</p>
      </div>
      <ion-row class="head">
        <ion-col>
          <p class="category" *ngIf="job.category">
            <ion-icon name="pricetag"></ion-icon>
            <span>{{ 'common.categories.' + job?.category | translate }}</span>
          </p>
        </ion-col>
        <ion-col [class.mismatching]="!job.matching && (job.mismatched.contractType)"
          *ngIf="job.contract_type_identifier">
          <p class="category">
            <ion-icon name="newspaper-outline"></ion-icon>
            <span>{{ 'common.contract_types.' + job?.contract_type_identifier | translate }}</span>
          </p>
        </ion-col>
      </ion-row>

      <ion-row class="schedule" color="light">
        <ion-col size="9" class="ion-text-nowrap">
          Staff Manager
        </ion-col>
        <ion-col size="3" class="ion-text-nowrap test-inner">
          Role
        </ion-col>
        <ion-col size="9" class="ion-text-nowrap font-set">
          {{ job?.staff_manager + (job?.site?.number ? ' | '+ job?.site?.number : '') }}
        </ion-col>
        <ion-col size="3" class="ion-text-nowrap font-set test-inner">
          {{ job?.role_name }}
        </ion-col>
        <ion-col size="12" class="dates-manage">
          <ion-icon name="calendar-outline" size="medium"></ion-icon>
          <span *ngIf="job.tenders.length === 1">{{ job?.range?.dates?.start | date : 'dd MMMM, YYYY'
            }}</span>
          <!-- *ngIf="job.tenders.length > 1" -->
          <span class="date_joint"> {{ 'jobs.dates' | translate : {
            number: job?.days,
            start: (job?.job_advert_start_date | date : 'dd MMM'),
            end: (job?.job_advert_end_date | date : 'dd MMM YYYY')
            } }}</span>
        </ion-col>
        <!-- <ion-col size="6">
          <ion-icon name="clock-outline" size="medium"></ion-icon>
          {{ job?.range?.dates?.start | date : 'h:mm' }} -
          {{ job?.range?.dates?.end | date : 'h:mm' }}
        </ion-col>
        <ion-col size="6" class="rates ion-text-right">
          {{ job?.range?.rates?.max | currency }}
        </ion-col> -->
        <ion-col size="12" class="ion-text-nowrap" [class.mismatching]="!job.matching && (job.mismatched.location)">
          <ion-icon name="pin-outline" size="medium"></ion-icon>
          {{ job?.job_location }}
        </ion-col>
        <ion-col size="8" class="ion-text-nowrap exp-date">
          Job Expiry Date
        </ion-col>
        <ion-col size="4" class="ion-text-nowrap test-contract">
          Contract Type
        </ion-col>
        <ion-col size="12" class="ion-text-nowrap date-time">
          {{ job?.job_advert_end_date_time }}
        </ion-col>
        <ion-col *ngIf="!job.matching && job.mismatched.certificates && job.mismatched.certificates.length"
          class="mismatching" size="12" class="ion-text-nowrap">
          <ion-icon name="alert-outline" size="small"></ion-icon>
          {{ 'jobs.mismatched.certificates' | translate }}: {{ job?.mismatched?.certificates?.length }}
        </ion-col>
        <ion-col *ngIf="job.offered && job.state" class="state {{ job.state }}" size="12" class="ion-text-nowrap">
          {{ 'jobs.offer.states.' + job?.state | translate }}
        </ion-col>
      </ion-row>
    </div>
    <ion-item-options *ngIf="job.matching && !job.offered">
      <ion-button expand="block" (click)="accept($event, slidingItem)" color="success">
        <div>
          <ion-icon name="thumbs-up"></ion-icon>
          {{ 'jobs.buttons.accept' | translate }}
        </div>
      </ion-button>
    </ion-item-options>

    <ion-item-options *ngIf="job.matching && !job.offered" [ngClass]="{pending: pending}">
      <ion-button expand="block" (click)="pending && cancel($event, slidingItem) || reject($event)" class="reject">
        <div>
          <ion-icon name="thumbs-down"></ion-icon>
          {{ 'jobs.buttons.reject' | translate }}
        </div>
        <div class="pending">
          <ion-icon name="refresh"></ion-icon>
          {{ 'jobs.buttons.cancel' | translate }}
          <ng-container *ngIf="pending">
          </ng-container>
        </div>
      </ion-button>
    </ion-item-options>
  </ion-item-sliding>
</ion-card>