ion-button {
   margin-top: 20px;
}

.head,
.schedule {
   border-bottom: 1px solid #dedede;
}

.head,
.schedule {
   color: var(--text-color);
   margin-top: 10px;

   ion-row {
      font-size: 1.4rem !important;
      margin-bottom: 10px;

      // &:last-of-type {
      //    margin-bottom: 0;
      // }
   }
}

ion-icon {
   margin: 0;
   color: var(--text-color-light);
}

.desc {
   h5 {
      margin-bottom: 5px;

      &:not(:first-of-type) {
         margin-top: 20px;
      }
   }
}

ion-checkbox {
   margin-right: 20px !important;
}

.item-inner {
   ion-icon {
      z-index: 2;
   }
}

ion-card {
   border: 1px solid #ccc;
   padding: 10px;

   .item-inner {
      border-left: none !important;
      padding-left: 5px !important;
   }

   &.mismatched {
      &.mismatched-certificates {
         .tender-item ion-thumbnail.cal-date {
            height: 143px;
         }
      }

      .rates {
         display: none;
      }
   }

   ion-col[normal] {
      color: var(--text-color);
   }
}

.category {
   margin-top: 10px;
   color: var(--text-color-light);
}

// specialized alert in body context
ion-alert.assignment-info {
   .alert-wrapper {
      width: 80%;
      max-width: 80%;
   }

   .divider {
      margin-top: 1rem;
   }

   .alert-message {

      div:first-child,
      .divider+div {
         font-weight: bolder;
         margin-bottom: 0.5rem;
      }

      div {
         line-height: 1.4;

         span {
            display: inline-block;

            &:first-child {
               width: calc(100% - 70px);
               text-align: left;
            }

            &+span {
               width: 70px;
               text-align: right;
            }
         }
      }
   }

   ion-backdrop {
      opacity: 0.6 !important;
   }
}

p {
   font-size: 13px;
   margin: 0;
}

.text-wrap.title {
   margin-top: 0;
   color: #999;
   font-size: 11px;
   text-transform: uppercase;
   font-weight: 300;
   margin-bottom: 4px;
}

h4.posting_title {
   font-size: 16px;
   width: 100%;
}

ion-col.md.hydrated {
   padding-left: 0;
}

p.task_title {
   font-size: 11px;
}

p.total_entry {
   text-align: center;
   width: 100%;
   font-size: 13px;
   margin-top: 10px;
}

h5.posting_title {
   font-size: 12px;
   color: #999;
   text-transform: uppercase;
}

.tender-item ion-thumbnail.cal-date {
   height: 143px;
}

p.appoiment_data {
   margin: 0;
   text-align: center;
}

.date-set {
   border: 2px solid #d0d0d1;
   padding: 13px 0px;
}

p.appoiment_data.inner {
   color: #222;
   font-size: 20px;
}

h5.tander_jobs {
   margin-top: 0;
   text-transform: uppercase;
   font-size: 12px;
}

h3.ion-text-nowrap_tender {
   font-size: 13px;
   color: rgba(0, 0, 0, .87);
   margin-top: 10px;
   margin-bottom: 0px;
}

p.text-wrap.check-possible {
   color: rgba(0, 0, 0, .87);
   font-size: 9px;
   margin-top: 10px;
}

h4.ion-text-nowrap.h4-text {
   margin-top: 7px;
   font-size: 14px;
   color: rgba(0, 0, 0, .87);
}


p.text-wrap.check-possible.set_inner {
   margin-top: 4px;
   padding-left: 5px;
   font-size: 10px;
}

h5.text-wrap.check-possible.des_text {
   margin-top: 0px;
   font-size: 12px;
   margin-bottom: 0;
}

ion-col.md.hydrated {
   padding-left: 0 !important;
}