<ion-content class="ion-padding">
  <app-back-button label="jobsDetails.jobTitle"></app-back-button>
  <div class="head">
    <ion-row>
      <ion-col size="12">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.title' | translate }}</h2>
        <p class="text-wrap">{{ details?.job_name }}</p>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.clientName' | translate }}</h2>
        <p>{{ details?.client_name }}</p>
      </ion-col>
      <ion-col size="8">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.jobDate' | translate }}</h2>
        <p>{{ details?.job_advert_end_date_time }}</p>
      </ion-col>
      <ion-col size="4">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.jobStatus' | translate }}</h2>
        <p>{{ details?.job_status }}</p>
      </ion-col>
      <ion-col size="8">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.jobLocation' | translate }}</h2>
        <p>{{ details?.job_location }}</p>
      </ion-col>
      <ion-col size="4">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.jobRole' | translate }}</h2>
        <p>{{ details?.role_name }}</p>
      </ion-col>
      <ion-col size="8">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.jobManager' | translate }}</h2>
        <p>{{ details?.staff_manager }}</p>
      </ion-col>
      <ion-col size="4">
        <h2 class="text-wrap title">{{ 'jobsDetails.subTitle.staffManager' | translate }}</h2>
        <p>{{ details?.job_info?.data?.staff?.firstname }} {{ details?.job_info?.data?.staff?.lastname }}</p>
      </ion-col>
      <h4 class="posting_title">{{ 'jobsDetails.jobPosting.mainTitle' | translate }}</h4>
      <ion-col size="5">
        <h2 class="text-wrap title">{{ 'jobsDetails.jobPosting.shiftStart' | translate }}</h2>
        <p>{{ details?.job_advert_start_date }}</p>
      </ion-col>
      <ion-col size="5">
        <h2 class="text-wrap title">{{ 'jobsDetails.jobPosting.shiftEnd' | translate }}</h2>
        <p>{{ details?.job_advert_end_date }}</p>
      </ion-col>
      <ion-col size="2">
        <h2 class="text-wrap title">{{ 'jobsDetails.jobPosting.days' | translate }}</h2>
        <p>{{ details?.days }}</p>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title">{{ 'jobsDetails.jobPosting.roleTitle' | translate }}</h2>
      </ion-col>
      <ion-col size="4">
        <h2 class="text-wrap title">{{ 'jobsDetails.jobPosting.postRole' | translate }}</h2>
      </ion-col>
      <ion-col size="4">
        <h2 class="text-wrap title name-tsk">{{ 'jobsDetails.jobPosting.taskName' | translate }}</h2>
      </ion-col>
      <ion-col size="4">
        <h2 class="text-wrap title name-tsk">{{ 'jobsDetails.jobPosting.remark' | translate }}</h2>
      </ion-col>
      <ng-container *ngFor="let task of details?.job_info?.data?.taskinfo">
        <ion-col size="4">
          <p class="task_title"></p>
        </ion-col>
        <ion-col size="4">
          <p class="task_title">{{task?.task_name }}</p>
        </ion-col>
        <ion-col size="4">
          <p class="task_title">{{task?.remarks }}</p>
        </ion-col>
      </ng-container>
      <p class="total_entry">{{ 'jobsDetails.jobPosting.total' | translate }}
        {{details?.job_info?.data?.taskinfo.length}} Entries
      </p>
    </ion-row>
  </div>
  <div class="desc ion-text-wrap">
    <h5 class="posting_title">{{ 'jobsDetails.jobPosting.desProject' | translate }}</h5>
    <p [innerHTML]="details?.job_info?.data?.description | nl2br"></p>
  </div>
  <div class="desc ion-text-wrap">
    <h5 class="posting_title">{{ 'jobsDetails.jobPosting.genralBrif' | translate }}</h5>
  </div>
  <h5>{{ 'jobsDetails.jobPosting.term' | translate }}</h5>
  <ion-card class="dates ion-padding" *ngFor="let tender of details?.tenders" [ngClass]="{ offered: details.offered }">
    <div class="tender-item">
      <h5 class="tander_jobs">
        {{ 'jobsDetails.subTitle.jobDate' | translate }} {{tender?.invalid_at | date : 'LLL dd, YYYY'}}
      </h5>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div class="date-set">
              <p class="appoiment_data inner">
                {{ tender?.invalid_at | date : 'dd' }}
              </p>
              <p class="appoiment_data">
                {{ tender?.invalid_at | date : 'LLL' }}
              </p>
              <p class="appoiment_data">
                {{ tender?.invalid_at | date : 'YYYY' }}
              </p>
            </div>
          </ion-col>
          <ion-col size="5">
            <h3 class="ion-text-nowrap_tender">
              {{ tender?.shift_start_time | dateFormat: 'HH:mm' }} - {{tender?.shift_end_time | dateFormat: 'HH:mm'}}
            </h3>
            <h4 class="ion-text-nowrap h4-text">{{ tender?.shift_name }}</h4>
            <ion-row class="check-text">
              <ion-col size="2" class="custom-col">
                <ion-checkbox color="primary" [(ngModel)]="tendersData[tender.id]" (ionChange)="toggleOne()">
                </ion-checkbox>
              </ion-col>
              <ion-col size="8">
                <p class="text-wrap check-possible set_inner">
                  {{ 'jobsDetails.jobPosting.offerSubmit' | translate }}
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <p class="text-wrap check-possible">{{ 'jobsDetails.jobPosting.posible' | translate }}</p>
            <h4 class="ion-text-nowrap h4-text">-</h4>
          </ion-col>
          <ion-col size="4">
            <h5 class="text-wrap check-possible des_text term_test">{{ 'jobsDetails.jobPosting.termText' | translate }}
            </h5>
          </ion-col>
          <ion-col size="4">
            <h5 class="text-wrap check-possible des_text term_test">
              {{ 'jobsDetails.jobPosting.termInclude' | translate }}
            </h5>
          </ion-col>
          <ion-col size="4">
            <h5 class="text-wrap check-possible des_text term_test">{{ 'jobsDetails.jobPosting.termPrimium' | translate
              }}</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <div lines="none" class="text-wrap" color="warning" *ngIf="!details.offered && restricted">
    {{ 'jobs.offer.info.' + restricted | translate }}
  </div>

  <div *ngIf="!details.offered" class="actions ion-text-right">
    <ion-button expand="full" color="button-primary" (click)="acceptOffers()"
      [disabled]="restricted || isProcessing || !selected().length">
      {{ 'jobs.buttons.accept' | translate }}
    </ion-button>
    <ion-button fill="clear" color="button-default" (click)="rejectOffers()" [disabled]="isProcessing">
      {{ 'jobs.buttons.reject' | translate }}
    </ion-button>
    <ion-button fill="clear" color="button-default" (click)="createMessage()"
      [disabled]="isProcessing || !selected().length">
      {{ 'jobs.offer.question.button' | translate }}
    </ion-button>
  </div>


</ion-content>