.nothing-found-block {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   display: flex;
   flex-direction: column;
   justify-content: center;

   ion-icon {
      display: block;
      font-size: 70px;
      margin: 0 auto;
   }

   ion-list {
      padding-left: 0;
      margin-bottom: 15px;
      border-bottom: 1px solid #dedede;
   }
}