<div [attr.class]="values ? 'has-values' : ''">
  <div class="nothing-found-block ion-text-wrap ion-text-center">
    <ion-list class="ion-text-center">
      <div>
        <ion-icon *ngIf="icon" [name]="icon"></ion-icon>
        {{ context + '.headline' | translate : values || {} }}
        {{storage.userName}} !
      </div><br />
      <div class="text-block" [innerHtml]="context + '.message' | translate : values || {}"></div>
    </ion-list>
    <ion-button *ngIf="redirect" fill="clear" color="button-default" (click)="redirectClick()">
      {{ context + '.button' | translate : values }}
    </ion-button>
  </div>
</div>