<ion-content>
  <div class="main">
    <div class="inner-section">
      <h1 class="heading">PRIVACY POLICY</h1>
      <div class="para-main">
        <p class="description-para"> 1. Name and contact details of the controller and the company data protection officer</p>
        <p class="data-pro">This data protection information applies to data processing by:</p>
        <p class="italic-inner"><i>Person Responsible: Elevate Staffing Limited, 1st Floor, 27-33 Bethnal Green Road, LONDON E16LA, United Kingdom,</i></p>
        <p class="italic-inner email-pad"><i>E-Mail: hellouk@elevate-staffing.com,</i></p>
        <p class="italic-inner"><i>Phone: +44 (0)207 183 0303.</i></p>
        <p class="data-pro">The data protection officer of Elevate Staffing Limited is :</p>
        <p class="italic-inner"><i>George Harris, at the above address, for the attention of Mr. George, or at george@dataprivacyservices.co.uk</i></p>
        <p class="description-para"> 2. Collection and storage of personal data as well as type and purpose of their use</p>
        <p class="description-para">a. When you visit the website</p>
        <p class="data-pro"> When you visit our website portal.elevate-staffing-1crm.
          com information is automatically sent to the server of our 
          website by the browser used on your end device. This information 
          is temporarily stored in a so-called log file. The following information 
          is collected without your intervention and stored until automated deletion:
        </p>
        <div class="list-notes">
          <ul class="list-ul-main">
            <li>IP address of the requesting computer,</li>
            <li>Date and time of access,</li>
            <li>Name and URL of the retrieved file,</li>
            <li>Only photos where you are alone.</li>
            <li>Website from which the access is made (referrer URL),</li>
            <li>Browser used and, if applicable, the operating system of your computer as well as the name of your access provider.</li>
          </ul>
        </div>
        <p class="description-para">The aforementioned data will be processed by us for the following purposes:</p>
        <div class="list-notes">
          <ul class="list-ul-main">
            <li>Ensuring a smooth connection establishment of the website,</li>
            <li>Ensuring a comfortable use of our website,</li>
            <li>Evaluation of system security and stability, and</li>
            <li>for other administrative purposes.</li>
          </ul>
        </div>
        <p class="description-para long-text">The legal basis for the data processing is Article 6 (1) lit. f DSGVO. 
          Our legitimate interest follows from the purposes for data collection listed above. 
          In no case do we use the collected data for the purpose of drawing conclusions about your person. 
          In addition, we use cookies when you visit our website. 
          You can find more detailed explanations of this in sections 4 and 5 of this data protection declaration.
        </p>
        <p class="description-para">b. When registering for our portal</p>
        <p class="description-para long-text">If you have expressly consented in accordance with Art. 6 Para. 
          1 Sentence 1 lit. a DSGVO, we will use your e-mail address and the data you have entered 
          to send you our newsletter or invitations to tender for orders on a regular basis. For the receipt 
          of the newsletter or the tenders, the specification of an e-mail address is sufficient. 
          You can unsubscribe at any time, for example via a link at the end of each newsletter. Alternatively, 
          you can also send your unsubscribe request at any time to <i class="email">george@dataprivacyservices.co.uk</i> send by e-mail.
        </p>
        <p class="description-para">Data sharing</p>
        <p class="description-para long-text">Your personal data will not be transferred to third 
          parties for purposes other than those listed below. We will only disclose your personal 
          data to third parties if:
        </p>
        <div class="list-notes">
          <ul class="list-ul-main">
            <li>you have given your express consent in accordance with Art. 6 (1) p. 1 lit. a DSGVO,</li>
            <li>the disclosure is necessary according to Art. 6 para. 1 p. 1 lit. 
              f DSGVO for <i>the initiation, processing and invoicing of promotion ordersand</i> 
              there is no reason to assume that you have an overriding interest worthy of protection 
              in the non-disclosure of your data,
            </li>
            <li>if there is a legal obligation for the disclosure according to Art. 6 para. 1 p. 1 lit. c DSGVO, as well as</li>
            <li>this is legally permissible and necessary according to Art. 6 para. 1 p. 1 lit. b DSGVO for the processing of contractual relationships with you.</li>
          </ul>
        </div>
        <p class="description-para">3. Cookies</p>
        <p class="description-para long-text">We use cookies on our website. 
          These are small files that your browser automatically creates and 
          that are stored on your end stored on your end device (laptop, tablet, smartphone or similar) 
          when you when you visit our site. Cookies do not cause any damage to your do no harm to your end device, 
          do not contain viruses, Trojans or other malware. Information is stored in the cookie, 
          information that arises in connection with the specific end device used. end device used. 
          However, this does not mean that we directly knowledge of your identity. 
          The use of cookies serves, on the one hand, to make the use of our offer more more pleasant for you. 
          For example, we use so-called session cookies to recognize that you have already visited individual 
          pages of our website. have already visited. These are automatically deleted automatically deleted. 
          In addition, we also use temporary cookies also use temporary cookies to optimize user-friendliness 
          stored on your end device for a certain fixed period of time. stored on your end device. 
          If you visit our site again to use our services services, it is automatically recognized 
          that you have already been with us that you have already been to our site and which entries and 
          settings you have so that you do not have to enter them again. On the other, we use cookies to statistically 
          record the use of our website and to website statistically and to evaluate it for the purpose of 
          optimizing our offer for you (see section 5). These cookies enable us to automatically recognize 
          that you have already visited our website automatically recognize that you have already been to our site. 
          These cookies are automatically deleted after a defined period of time. deleted. 
          The data processed by cookies are necessary for the purposes mentioned to protect our legitimate 
          interests as well as those of third parties of third parties according to Art. 6 para. 
          1 p. 1 lit. f DSGVO. The most browsers accept cookies automatically. 
          However, you can configure your browser in such a way that no cookies are stored on your 
          computer or that computer or that a message always appears before a new cookie is created. 
          a new cookie is created. The complete deactivation of cookies may mean, however, 
          that you cannot use all the functions of our website.
        </p>
        <p class="description-para">4. Analyse-Tools</p>
        <p class="description-para">&nbsp;&nbsp;&nbsp; a. Tracking-Tools</p>
        <p class="description-para longs-text">The tracking measures listed below and used by us Tracking measures are carried out on the basis of Art.
           6 para. 1 p. 1 lit. f DSGVO. With the use of these tracking measures that are used, 
           we want to ensure a needs-based design and continuous optimization of our website. 
           Secondly, we use the tracking measures to statistically record the use of our 
           website and to evaluate it for the purpose of optimizing our offer for you. 
           These interests are to be regarded as legitimate within the meaning of the aforementioned provision. 
           The respective data processing purposes and data categories can be seen from the corresponding tracking tools.
        </p>
        <p class="description-para">&nbsp;&nbsp;&nbsp; b. Google Analytics</p>
        <p class="description-para longs-text">
          Zum For the purpose of demand-oriented design and continuous optimization of our pages, we use Google Analytics, 
          a web analytics service provided by Google Inc. (<i class="email">https://www.google.de/intl/de/about/</i>) (1600 Amphitheatre Parkway, 
          Mountain View, CA 94043, USA; hereinafter "Google“). In this context, pseudonymized usage profiles are 
          created and cookies (see under section 4) are used. 
          The information generated by the cookie generated information about your use of 
          this website such as
        </p>
        <div class="list-notes">
          <ul class="list-ul-main">
            <li>Browser type/version,</li>
            <li>Operating system used,</li>
            <li>Referrer URL (the previously visited page),</li>
            <li>Host name of the accessing computer (IP address),</li>
            <li>Time of the server request,</li>
          </ul>
        </div>
        <p class="description-para longs-text">are transferred to a Google server in the USA and stored there. 
          The information is used to evaluate the use of the website, 
          to compile reports on website activity and to provide other services relating to website activity 
          and internet usage for the purpose of market research and to tailor the design of these Internet pages. 
          This information may also be third parties if this is required by law or if third parties prescribed by 
          law or if third parties process this data on behalf of third parties. Under no circumstances will your 
          IP address be merged with other data from Google. The IP addresses are anonymized, 
          so that an assignment is not possible (IP masking). You can prevent the installation of cookies by 
          browser software; however, we would like to point out that in this case, 
          not all functions of this website can be used to their full extent. 
          You may also refuse the use of cookies by selecting the appropriate generated by the cookie and 
          related to your use of the website (including your (including your IP address) as well as the processing 
          of this data by Google by downloading and installing a browser add-on. (<i class="email">https://tools.google.com/dlpage/gaoptout?hl=de</i>). 
          As an alternative to the browser add-on, in particular for browsers on mobile devices, 
          you can also prevent Google Analytics from collecting data by by clicking on this link. 
          An opt-out cookie will be set, which will prevent the future collection of your data when visiting this website. 
          The opt-out cookie is only valid browser and only for our website and is stored on your device. 
          If you delete the cookies in this browser, you must set the opt-out cookie again. 
          For more information on data protection in connection with Google Analytics can be found, for example, 
          in the Google Analytics help (<i class="email">https://support.google.com/analytics/answer/6004245?hl=de</i>).
        </p>
        <p class="description-para">&nbsp;&nbsp;&nbsp; c. Google Adwords Conversion Tracking</p>
        <p class="description-para longs-text">
          To statistically record the use of our website and to evaluate it for the purpose of our website for you, 
          we also use Google Conversion Tracking. In the process, Google Adword, 
          a cookie (see section 4) is set on your computer if you have accessed our website or have reached our 
          website via a Google ad. Thesecookies lose their validity after 30 days and do not serve to personal identification.
          If the user visits certain pages of the Adwords customer's website and the cookie has not yet expired, 
          Google and the customer can recognize that the user has clicked on the ad and was redirected to this page. 
          Each Adwords customer receives a different cookie. Cookies can therefore not be tracked via the 
          websites of Adwords customers. The information collected using the conversion cookie is used to compile 
          conversion statistics for Adwords customers who have opted for conversion tracking. 
          The Adwords customers learn the total number of users who have clicked on their ad and been 
          directed to a site tagged with a Conversion tracking tagged page. 
          The information can be used to identify users personally identifiable. 
          If you do not wish to participate in the tracking process, you can also refuse the setting of a 
          cookie required for this - for example, by browser setting that generally disables the automatic setting 
          of cookies generally deactivated. You can also deactivate cookies for conversion tracking by setting your 
          browser so that cookies from the domain "www.googleadservices.com" are blocked. 
          Google's privacy policy on conversion tracking can be found here (<i class="email">https://services.google.com/sitestats/de.html</i>).
        </p>
        <p class="description-para">3. Social Media Plug-ins</p>
        <p class="description-para longs-text">
          We use social plug-ins on our website on the basis of Art. 6 para. 1 p. 1 lit. f DSGVO we use social plug-ins of the social networks Facebook, 
          Twitter and Instagram, in order to make our law firm better known via these. 
          The purpose behind this is to be regarded as a legitimate interest within the meaning of the DSGVO.
          The responsibility for the data protection compliant operation is to be ensured by the respective provider 
          and is guaranteed. The integration of these plug-ins by us takes place in the way of 
          the so-called two-click method, in order to protect visitors of our website in the best possible way.
        </p>
        <p class="description-para">&nbsp;&nbsp;&nbsp; a. Facebook</p>
        <p class="description-para longs-text">
          On social media plug-ins from Facebook are used on our website to make the use more personal. 
          For this purpose we use the "LIKE" or "SHARE" button. This is an offer from Facebook. 
          If you call up a page of our website that contains such a plug-in, 
          your browser establishes a direct connection with the Facebook servers. 
          The content of the plug-in is transmitted by Facebook directly to your browser and integrated by 
          it into the website. Through this Facebook receives the information that your browser has visited 
          the corresponding page of our website even if you do not have a Facebook account or are not currently 
          logged into Facebook. This information (including your IP address) is transmitted directly 
          from your browser to a Facebook server in the Facebook in the USA and stored there. 
          If you are logged into Facebook, Facebook can assign the visit to our website directly to your 
          Facebook account. If you interact with the plug-ins, for example by clicking the "LIKE" or "SHARE" button, 
          the corresponding information is also transmitted directly to a Facebook server and stored there. The information is 
          also published on Facebook and displayed to your Facebook friends. 
          Facebook may use this information for the purposes of advertising, 
          market research and needs-based design of the Facebook pages. For this purpose, Facebook creates usage, 
          interest and relationship profiles, e.g., in order to track your use of our website with 
          regard to the advertisements displayed on Facebook, to inform other Facebook users about 
          your activities on our website, and to provide other services associated with the use of Facebook. 
          If you do not want Facebook to share the data collected via our website to your Facebook account, 
          you must log out of Facebook before visiting our website. The purpose and scope of the data collection 
          and the fu,rther processing and use of the data by Facebook, as well as your rights in this respect 
          and settings options for protecting your privacy, please refer to the privacy policy of 
          Facebook (<i class="email">https://www.facebook.com/about/privacy/</i>).
        </p>
        <p class="description-para">&nbsp;&nbsp;&nbsp; b. Twitter</p>
        <p class="description-para longs-text">
          On our Internet pages contain plug-ins of the short message network of Twitter Inc. 
          (Twitter) are integrated. The Twitter plug-ins (tweet button) can be recognized by the 
          Twitter logo on our site. You can find an overview of tweet 
          buttons at: (<i class="email">https://about.twitter.com/resources/buttons</i>).

          If you call up a page of our website that contains such a plug-in, 
          a direct connection is established between your browser and the Twitter server. 
          Twitter thereby receives information that you have visited our site with your IP address. 
          If you click on the Twitter "tweet button" while you are logged into your Twitter account, 
          you can view the content of our pages on your Twitter profile. Thereby Twitter can assign 
          the visit to our pages to your user account. We would like to point out that we, 
          as the provider of the pages, do not have any knowledge of the content of 
          the transmitted data and its use by Twitter. If you do not want Twitter to be able to visit to our pages, 
          please log out of your Twitter user account. You can find more information on this in 
          the privacy policy of Twitter. (<i class="email">https://twitter.com/privacy</i>).
        </p>
        <p class="description-para">&nbsp;&nbsp;&nbsp; c. Instagram</p>
        <p class="description-para longs-text">
          On our website also uses so-called social plug-ins ("Plug-ins”) of Instagram, 
          which is operated by Instagram LLC., 1601 Willow Road, Menlo Park, CA 94025, USA ("Instagram”). 
          These plug-ins are marked with an Instagram logo, for example in the form of an "Instagram camera". 
          If you call up a page of our website that contains such a plugin, your browser establishes a direct
          connection to the servers of Instagram. The content of the plug-in is transmitted directly 
          from Instagram to your browser and integrated into the page. Through this Instagram receives the 
          information that your browser has called up the corresponding page of our website, 
          even if you do not have an Instagram profile or currently logged into Instagram. 
          This information (including your IP address) is transmitted directly from your browser to a 
          server of Instagram server in the USA and stored there. If you are logged into Instagram, 
          Instagram can directly associate the visit to our website with your Instagram account directly. 
          If you interact with the plug-ins, for example by clicking the "Instagram" button, 
          this information will also be transmitted directly to a server of Instagram and stored there.
          The information also published on your Instagram account and displayed to your contacts. 
          If you do not want Instagram to directly assign the data collected via our website to your Instagram account, 
          you must log out of Instagram before visiting our website. Further information on this can be found in 
          the privacy policy (<i class="email">https://help.instagram.com/155833707900388)</i> from Instagram.
        </p>
        <p class="description-para">4. Rights of data subject</p>
        <p class="description-para">&nbsp;&nbsp; You have the right:</p>
        <div class="list-notes">
          <ul class="list-ul-main">
            <li>According to Art. 15 DSGVO information about your personal data processed by us. 
              In particular, you can request information about the processing purposes, 
              the categories of personal data, the categories of recipients to whom your data has been 
              or will be disclosed, the planned will be disclosed, the planned storage period, 
              the existence of a right to rectification, erasure, restriction of processing or objection, 
              the existence of a right of complaint, the origin of your data the origin of 
              your data if it was not collected by us, as well as the existence of automated 
              decision-making including profiling and, if applicable, meaningful information about their 
              request details;</li>
            <li>According to Art. 16 DSGVO without delay the correction of inaccurate or incomplete personal data stored by us;</li>
            <li>According to Art. 17 DSGVO the deletion of your personal data stored with us, 
              unless the processing is necessary for the exercise of the right to 
              freedom of expression and information, for compliance with a legal obligation, 
              for reasons of public interest or for the assertion, exercise or defense of legal claims;
            </li>
            <li>Pursuant to Art. 18 DSGVO to request the restriction of the processing of your personal data, 
              so far as the accuracy of the data is disputed by you, the processing is unlawful, 
              but you object to its deletion and we no longer need the data, but you need it to assert, 
              exercise or defense of legal claims or you object to the processing in accordance with Art. 21 DSGVO;
            </li>
            <li>GAccording to Art. 20 DSGVO your personal data that you have provided to us in a structured, 
              commonly used and machine-readable format or to request the transfer to another responsible party;
            </li>
            <li>According to Art. 7 para. 3 DSGVO once given consent to us at any time has the consequence 
              that we may not continue the data processing based on this consent 
              and may no longer continue the data processing for the future;
            </li>
            <li>According to Art. 77 DSGVO to complain to a supervisory authority. As a rule, 
              you can contact the supervisory authority of your usual place of residence or place of 
              work or our registered office.
            </li>
          </ul>
        </div>
        <p class="description-para">7. Right of objection</p>
        <p class="description-para long-text">
          If your personal data is processed on the basis of legitimate interests pursuant to Art. 
          6 (1) p. 1 lit. f DSGVO, you have the right to object to the processing of your 
          personal data pursuant to Art. 21 DSGVO. The processing of your personal data, 
          so far as there are grounds for doing so which arise from your particular situation or 
          the objection is directed against direct advertising. In the latter case, you have a 
          general right of objection, which is implemented by us without specifying a particular situation. 
          If make use of your right of revocation or objection, an e-mail is sufficient: info@elevate-staffing.com
        </p>
        <p class="description-para">8. Data security</p>
        <p class="description-para long-text">
          We use within the website common SSL procedure (Secure Socket Layer) in connection with 
          the highest encryption level supported by your browser. As a rule, this is a 256-bit encryption. 
          If your browser does not support 256-bit encryption we will use 128-bit v3 technology instead. 
          You can tell whether an individual page of our website is encrypted, you can tell by the closed 
          representation of the key or lock symbol in the lower status bar of your browser. 
          We also make use of appropriate technical and organizational security measures to protect your 
          data against accidental or intentional manipulation, loss, destruction or against 
          unauthorized access by third parties. Our security measures are continuously improved in line with 
          technological developments.
        </p>
        <p class="description-para">9. Actuality and change of this privacy policy</p>
        <p class="description-para long-text">
          This Privacy Policy is currently valid and has the status of May 2018. 
          Due to the further development of our website and offers or due to changes in legal or 
          regulatory requirements, it may become legal or regulatory requirements and necessary 
          to amend this data protection declaration. The current privacy policy can be viewed at 
          any time in the portal under;<i class="email">https://portal.elevate-staffing.com/dataprivacy </i>be retrieved and printed by you.
        </p>
      </div>
    </div>
    <div class="btn-section-1">
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="decline()" slot="end">Decline</ion-button>
        </div>
      </div>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-new" (click)="accept()" slot="end">Accept</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
