.main {
    padding: 0px 23px;
 }
 p.description-para {
    padding: 0 20px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
 }
 p.data-pro {
    padding: 0 50px;
    color: #262828;
}
p.italic-inner {
    padding: 0 50px;
    margin: 0;
}
ul.list-ul-main {
    color: #262828;
    padding: 0 61px;
}
p.description-para.long-text {
    color: #262828;
    font-weight: 500;
}
.email {
    color: #4caf50;
    text-decoration: underline;
}
p.description-para.longs-text {
    padding: 0 35px;
    color: #262828;
    font-weight: 500;
}
.btn-section {
    margin-top: 10px;
    text-align: right;
 }
 
 ion-button.inner-btn-save {
    --background: #fff;
    --color: #21b4b0;
    border: 1px solid #21b4b0;
    border-radius: 5px;
 }
 .btn-section-1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

ion-button.inner-btn-new {
    --background: #019f98;
 }
