<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-btn">
      <ion-back-button icon="arrow-back-outline" text=" {{'auth.reset.buttons.back' | translate}}">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="head">
    <ion-row>
      <ion-col size="12">
        <h2 class="text-wrap">{{ details?.shortTitle }}</h2>
      </ion-col>
      <ion-col size="12">
        <p>{{ details?.client?.name }}</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>