<ion-content class="ion-padding">
  <app-back-button label="buttons.back"></app-back-button>
  <div class="head">
    <h4 class="posting_title main-heading">{{ 'jobsDetails.appliedJobs.title' | translate }}</h4>
    <div class="dead-date">
      <h4 class="posting_title">{{ 'jobsDetails.appliedJobs.deadLine' | translate }}</h4>
      <h4 class="posting_title">{{details?.expired_at | date: 'd.M.y,'}} {{details?.expired_at | date: 'HH:mm a'}}</h4>
    </div>
    <ion-row>
      <ion-col size="12">
        <h2 class="text-wrap title">{{ 'jobsDetails.appliedJobs.name' | translate }}</h2>
        <p class="details_client">{{ details?.client?.name }}</p>
      </ion-col>
      <ion-col size="6">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.jobPosting.posible' | translate }}</h2>
        <p class="details_client">$0.00</p>
      </ion-col>
      <ion-col size="6">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.appliedJobs.shiftTime' | translate }}</h2>
        <p class="details_client">{{ details?.assignment?.shift_start_time }} - {{ details?.assignment?.shift_end_time
          }}</p>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.subTitle.title' | translate }}</h2>
        <p class="details_client">{{details?.project?.name}}</p>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.appliedJobs.task' | translate }}</h2>
      </ion-col>
      <ion-col size="5">
        <h2 class="text-wrap title custom-margin">{{ 'offers.filters.contractType.label' | translate }}</h2>
        <p class="details_client">TAX CARD</p>
      </ion-col>
      <ion-col size="4">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.appliedJobs.bouns' | translate }}</h2>
        <p class="details_client">-</p>
      </ion-col>
      <ion-col size="3">
        <h2 class="text-wrap title custom-margin">{{ 'common.categories.label' | translate }}</h2>
        <p class="details_client">-</p>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.appliedJobs.address' | translate }}</h2>
        <p class="details_client">{{details?.tender?.data?.snapshots?.job?.job_location}}</p>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.appliedJobs.certificates' | translate }}</h2>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.appliedJobs.requiredTraining' | translate }}</h2>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.jobPosting.desProject' | translate }}</h2>
        <p class="details_client" [innerHTML]="details?.tender?.data?.snapshots?.job?.description"></p>
      </ion-col>
      <ion-col size="12">
        <h2 class="text-wrap title custom-margin">{{ 'jobsDetails.jobPosting.genralBrif' | translate }}</h2>
      </ion-col>
    </ion-row>
  </div>
</ion-content>