.head,
.schedule {
   border-bottom: 1px solid #dedede;
}

.head,
.schedule {
   color: var(--text-color);
   margin-top: 0px;

   ion-row {
      font-size: 1.4rem !important;
      margin-bottom: 10px;
   }
}

h4.posting_title {
   font-size: 16px;
   margin-top: 0;
   margin-bottom: 0;
}

.dead-date {
   display: flex;
   margin-top: 6px;
   width: 100%;
   margin-bottom: 10px;
}

h4.posting_title.main-heading {
   font-size: 20px;
}

.text-wrap.title {
   color: #999;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 300;
   margin-bottom: 4px;
}

ion-col.md.hydrated {
   padding-left: 0 !important;
}

.details_client {
   margin-top: 0;
   margin-bottom: 6px;
   color: rgba(0, 0, 0, .87);
   font-size: 13px;
}

.custom-margin {
   margin-top: 0;
}