<ion-content *ngIf="profile" class="profile-container">
  <app-back-button label="settings.page-name"></app-back-button>
  <div id="picture" class="main-section">
    <img src="../../assets/img/placeholder.png" class="img-all" width="100%" alt="Not Found">
  </div>
  <div class="main">
    <ion-list>
      <h3 class="setting-heading" head-3>{{ 'common.gender.' + profile?.gender | translate }} {{ profile?.firstname }}
        {{ profile?.lastname }}
      </h3>
      <h4 *ngIf="profile?.profession">{{ profile?.profession }}</h4>
      <div class="rating">
        <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#21b4b0"
          defaultColor="#f4f4f4" readonly="false" fontSize="26px" (ratingChanged)="logRatingChange($event)">
        </ionic5-star-rating>
      </div>
    </ion-list>
    <ion-list>
      <ion-row color="light" class="ion-text-nowrap">
        <ion-icon name="home" class="ion-padding-right"></ion-icon>
        <span>{{ profile?.zip }} {{ profile?.city }}, {{ profile?.country }}</span>
      </ion-row>
      <ion-row color="light" class="ion-text-nowrap">
        <ion-icon name="pin" class="ion-padding-right"></ion-icon>
        <span>{{ profile?.address }}</span>
      </ion-row>
      <ion-row color="light" class="ion-text-nowrap">
        <ion-icon name="phone-portrait" class="ion-padding-right"></ion-icon>
        <span>{{ profile?.mobile }}</span>
      </ion-row>
      <ion-row color="light" *ngIf="profile?.alternative_phone" class="ion-text-nowrap">
        <ion-icon name="call" class="ion-padding-right"></ion-icon>
        <span>{{ profile?.alternative_phone }}</span>
      </ion-row>
      <ion-row color="light" class="ion-text-nowrap">
        <ion-icon name="mail" class="ion-padding-right"></ion-icon>
        <span>{{ profile?.email }}</span>
      </ion-row>
      <ion-row color="light" class="ion-text-nowrap">
        <ion-icon name="paper" class="ion-padding-right"></ion-icon>
        <span>{{ 'profile.contract_types.title' | translate }}</span>
      </ion-row>
      <ion-row *ngFor="let type of profile?.contract_types || []">
        <span>{{ 'common.contract_types.' + type | translate }}</span><br />
      </ion-row>
    </ion-list>
  </div>
</ion-content>