.profile-container {
   #picture {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 25px;
      height: 25%;

      button-back {
         position: absolute;
         top: 0;
      }
   }

   ion-list {
      margin: 0 16px;
      border-bottom: 1px solid #dedede;

      h3 {
         margin: 10px 0 0 0;
      }

      h4 {
         margin-bottom: 10px;
      }
   }

   ion-row {
      position: relative;
      margin: 15px 0;

      &:first-of-type {
         margin-top: 5px;
      }

      &:last-of-type {
         padding-bottom: 5px;
      }

      span {
         position: absolute;
         top: 0;
         left: 26px;
         width: calc(100% - 20px);
         display: inline-block;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }

   h3,
   h4 {
      white-space: normal;
   }

   .rating-start {
      transform: scale(0.7);
      float: right;
      display: block;
      height: 35px;

      span {
         position: absolute;
         right: 20px;
      }

      .star-icon:before {
         color: var(--ion-color-primary) !important;
      }
   }
}

img.img-all {
   width: 56%;
}

.main {
   padding: 25px;
   padding-top: 7px;
}

h3.setting-heading {
   font-size: 23px !important;
}

.rating {
   padding-top: 7px;
}