<div class="background" [ngClass]="{'opened': opened}" (click)="close()"></div>
<ion-card [ngClass]="{'opened': opened}">
  <div class="filtered" [ngClass]="{active: filtered && filtered.length}">
    {{ context + '.filters.active' | translate }} - {{ filtered }}
  </div>
  <ion-button *ngIf="!opened || opened == undefined" class="open ion-float-right" fill="clear" (click)="open()">
    <ion-icon name="search" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button *ngIf="opened" class="close ion-float-right" fill="clear" (click)="close()">
    <ion-icon name="close" slot="icon-only"></ion-icon>
  </ion-button>
  <div class="ion-padding">
    <form (ngSubmit)="apply()">
      <ng-container *ngFor="let key of filters | keys">
        <ng-container *ngIf="key === 'search' || key === 'contractType'">
          <h3 class="heading-main applied">{{ context + '.filters.' + key + '.label' | translate }}</h3>
        </ng-container>
        <app-filter-search *ngIf="filters[key].type === 'search'" [name]="key" [context]="context"
          [set]="filters[key].set" (init)="init(key, $event)" (action)="set(key, $event)">
        </app-filter-search>
        <ng-container *ngIf="key !== 'certificate'">
          <app-filter-select *ngIf="filters[key].type === 'select'" [name]="key" [context]="context"
            [set]="filters[key].set" [options]="filters[key].options" [none]="filters[key].options"
            (init)="init(key, $event)" (action)="set(key, $event)">
          </app-filter-select>
        </ng-container>
        <app-filter-checkbox *ngIf="filters[key].type === 'selectCheckbox'" [name]="key" [context]="context"
          [set]="filters[key].set" [options]="filters[key].options" (init)="init(key, $event)"
          (action)="set(key, $event)"></app-filter-checkbox>
      </ng-container>
      <ion-buttons>
        <ion-button type="submit" fill="solid" size="small" color="primary">
          submit
        </ion-button>
      </ion-buttons>
    </form>
  </div>
</ion-card>