<ion-header class="main-header">
  <ion-toolbar>
    <ion-button color="main" fill="clear" class="back-btn" (click)="back()">
      <ion-icon name="arrow-back-outline" color="primary" class="min-icon"></ion-icon>
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="section-first" *ngFor="let skill of skills">
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="form-main">
                  <ion-label position="floating">Skill Category</ion-label>
                  <ion-select formControlName="skill_cate" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                    <ion-select-option value="e">Event Management</ion-select-option>
                    <ion-select-option value="p">Event Planning</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-main">
                  <ion-label position="floating">Skill Name</ion-label>
                  <ion-select formControlName="skill_name" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                    <ion-select-option value="e">Ticket Collection</ion-select-option>
                    <ion-select-option value="p">Bar Tender</ion-select-option>
                    <ion-select-option value="j">Juggler</ion-select-option>
                    <ion-select-option value="c">Communication</ion-select-option>
                    <ion-select-option value="s">Problem Solving</ion-select-option>
                    <ion-select-option value="t">Team work</ion-select-option>
                    <ion-select-option value="r">Resilience</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <div class="btn-section">
        <div class="btn-second-main">
          <ion-button class="inner-btn-save" (click)="deleteSkill(skill)" slot="end">Delete</ion-button>
        </div>
      </div>
    </div>
    <div class="btn-section add-more">
      <div class="btn-main">
        <ion-button class="inner-btn-label" (click)="save()" expand="block">Save </ion-button>
      </div>
      <div class="btn-second-main">
        <ion-button class="inner-btn-save" (click)="addSkills()" slot="end">Add More</ion-button>
      </div>
    </div>
  </div>

</ion-content>