.dismiss {
   border: none;

   .button-inner {
      text-transform: none;
      color: var(--text-color);
      font-weight: normal;
      font-size: 1.7rem;

      ion-icon {
         color: var(--ion-color-primary);
      }
   }
}

[ion-button][full] {
   margin-top: 20px;
}

h2,
h5 {
   margin: 2px 0;
}

p {
   margin: 0 0 2px;
}

.schedule {
   color: var(--text-color-light);
   padding: 16px 0;

   ion-row {
      font-size: 15px;
      margin-bottom: 10px;

      ion-icon {
         margin-right: 5px;
      }

      &:last-of-type {
         margin-bottom: 0;
      }
   }

   ion-row ion-icon[name="pin"] {
      padding-right: 0 !important;
   }

   .button-small-md,
   .button-small-ios {
      margin: 0;
      font-size: 1.4rem;
      color: var(--text-color-light);
   }
}

.desc,
.docs,
.contact {
   padding: 16px 0;

   h5 {
      margin-bottom: 15px;

      &:not(:first-of-type) {
         margin-top: 20px;
      }
   }
}

.docs,
.contact {
   h5+div>p {
      margin-bottom: 20px;
   }

   .item-inner {
      border: none !important;
   }

   .list-md,
   .list-ios {
      margin-bottom: 0;
   }

   ion-row {
      margin-top: 5px;

      ion-icon:before {
         display: inline-block;
         transform: translateY(3px);
      }
   }

   a {
      color: var(--text-color-light);
      text-decoration: none;
   }
}

.incentives,
.costs,
.wage {
   span {
      display: inline-block;

      &:first-child {
         width: calc(100% - 90px);
      }

      &+span {
         width: 70px;
         text-align: right;
      }
   }
}

.category {
   margin-top: 10px;
   color: var(--text-color-light);
}

.border-bottom {
   border-bottom: 1px solid #dedede;
}