<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" class="menu-main"></ion-menu-button>
    <ion-title>Account Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>